{% extends "common/templates/pdf-layout.njk" %}
{% from "app/upw/templates/pdf-preview-and-declaration/components/pdf-template/macro.njk" import renderPdfTemplate %}

{% set backLink = 'task-list#pdf-preview' %}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block header %}
{% include "common/templates/partials/header.njk" %}
{% endblock %}

{% block content %}
{{ super() }}

{{ renderPdfTemplate(assessment, answers, persistedAnswers, widgetData, userFullName, {
    imageAssetPath: "/images/"
}) }}

{% endblock %}
