{% extends "common/templates/pdf-layout.njk" %}
{% from "app/upw/templates/pdf-preview-and-declaration/components/pdf-template/macro.njk" import renderPdfTemplate %}

{% set backLink = 'pdf-preview-and-declaration' %}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{{ super() }}

{{ renderPdfTemplate(assessment, answers, persistedAnswers, widgetData, userFullName) }}

{% endblock %}

{% block footer %}
{% endblock %}