{% extends "common/templates/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "common/templates/components/question/macro.njk" import renderQuestion %}
{% from "common/templates/components/widgets/macro.njk" import widgets %}

{% set backLink = 'task-list' %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
  {% include "common/templates/partials/header.njk" %}
{% endblock %}

{% block content %}
  {{ super() }}

  {%- macro getAvailabilityValue(index) -%}
    {{ questions['individual_availability'].answerDtos[index].value }}
  {%- endmacro -%}

  {%- macro getAvailabilityText(index) -%}
    {{ questions['individual_availability'].answerDtos[index].text }}
  {%- endmacro -%}

  {%- macro getAvailabilityChecked(index) -%}
    {%- if questions['individual_availability'].answerDtos[index].checked == true -%}
      checked
    {%- endif -%}
  {%- endmacro -%}

  {%- macro availabilityOption(optionNumber) -%}
    <td class="govuk-table__cell upw-availability-table__cell upw-availability-table__item-{{ optionNumber }}">
      <div class="govuk-checkboxes__item govuk-checkboxes govuk-checkboxes--small upw-checkbox-item__availability">
        <input class="govuk-checkboxes__input" name="{{ questions['individual_availability'].questionCode }}"
               id="{{ questions['individual_availability'].questionCode }}-{{ optionNumber }}" name="organisation"
               type="checkbox"
               value="{{ getAvailabilityValue(optionNumber) }}" {{ getAvailabilityChecked(optionNumber) }}>
        <label class="govuk-label govuk-checkboxes__label"
               for="{{ questions['individual_availability'].questionCode }}-{{ optionNumber }}">
          <span
              class='govuk-visually-hidden'>{{ getAvailabilityText(optionNumber) }}</span></label>
      </div>
    </td>
  {%- endmacro -%}

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-three-quarters" aria-label="Form content">
      <span class="govuk-caption-xl">Placement details</span>
      <h1 class="govuk-heading-xl">
        Availability for Community Payback work
      </h1>

      <form method="post" action="{{ action }}">
        <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}">
        <div class="govuk-form-group {% if errors['individual_availability'] %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" aria-describedby="individual_availability-legend {% if errors['individual_availability'] %} individual_availability{% endif %}">
            <legend id="individual_availability-legend" class="govuk-label govuk-label--m individual_availability">
              {{ questions['individual_availability'].questionText }}
            </legend>
            <table class="govuk-table upw-availability-table">
              <caption class="upw-availability-table__caption">Dates available for Community Payback work</caption>
              {% if errors['individual_availability'] %}
              <p id="individual_availability-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> {{ errors['individual_availability'].text }}
              </p>
              {% endif %}
              <thead class="govuk-table__head">
                <tr>
                  <td scope="row" class="govuk-table__header"></td>
                  <th scope="col" class="govuk-table__header upw-availability-table__column upw-availability-table__header">
                  Monday
                </th>
                  <th scope="col" class="govuk-table__header upw-availability-table__column upw-availability-table__header">
                  Tuesday
                </th>
                  <th scope="col" class="govuk-table__header upw-availability-table__column upw-availability-table__header">
                  Wednesday
                </th>
                  <th scope="col" class="govuk-table__header upw-availability-table__column upw-availability-table__header">
                  Thursday
                </th>
                  <th scope="col" class="govuk-table__header upw-availability-table__column upw-availability-table__header">
                  Friday
                </th>
                  <th scope="col" class="govuk-table__header upw-availability-table__column upw-availability-table__header">
                  Saturday
                </th>
                  <th scope="col"
                    class="govuk-table__header upw-availability-table__column upw-availability-table__header no-right-border">
                  Sunday
                </th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header upw-availability-table__rowheader">Morning</th>
                  {{ availabilityOption(0) }}
                  {{ availabilityOption(3) }}
                  {{ availabilityOption(6) }}
                  {{ availabilityOption(9) }}
                  {{ availabilityOption(12) }}
                  {{ availabilityOption(15) }}
                  {{ availabilityOption(18) }}

                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header upw-availability-table__rowheader">Afternoon</th>
                  {{ availabilityOption(1) }}
                  {{ availabilityOption(4) }}
                  {{ availabilityOption(7) }}
                  {{ availabilityOption(10) }}
                  {{ availabilityOption(13) }}
                  {{ availabilityOption(16) }}
                  {{ availabilityOption(19) }}
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header upw-availability-table__rowheader">Evening</th>
                  {{ availabilityOption(2) }}
                  {{ availabilityOption(5) }}
                  {{ availabilityOption(8) }}
                  {{ availabilityOption(11) }}
                  {{ availabilityOption(14) }}
                  {{ availabilityOption(17) }}
                  {{ availabilityOption(20) }}
                </tr>
              </tbody>
            </table>
          </fieldset>
        </div>
        
        {{ renderQuestion(questions['individual_availability_details'], errors) }}
        {{ renderQuestion(questions['availability_intensive_working'], errors) }}
        {{ renderQuestion(questions['availability_availability_weekdays'], errors) }}
        {{ renderQuestion(questions['availability_want_to_considered_for_intensive_working'], errors) }}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible upw-complete-break">
        {{ renderQuestion(questions['individual_availability_complete'], errors) }}

        <div class="questiongroup-action-buttons">
          {{ govukButton({
            text: buttonText | default('Save'),
            classes: 'govuk-!-margin-bottom-3 govuk-!-margin-right-1'
          }) }}
        </div>
      </form>
    </section>

    {{ widgets(widgetData) }}

  </div>
{% endblock %}
