{%- from "node_modules/govuk-frontend/govuk/components/radios/macro.njk" import govukRadios -%}

{% switch options.type %}
  
  {% case 'radios' %}  
      {{ govukRadios({
        idPrefix: question,
        name: question,
        items: options.items,
        fieldset: {
          legend: {
            text: options.text,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: options.helpText
        }
      }) }}
  {% default %}
      <!-- {{ question.questionId }} - {{ question.answerType }} questions are not currently rendered -->
      
{% endswitch %}
