{% from "common/templates/components/moj-crest/macro.njk" import renderMojCrest %}
{% from "common/templates/components/read-only-address/macro.njk" import readOnlyAddress %}
{% from "common/templates/components/rosh-widget/macro.njk" import roshWidget %}
{% from "common/templates/components/mappa-widget/macro.njk" import mappaWidget %}

{%- macro renderTableHeading(heading, description) -%}
    <p><strong>{{ heading }}</strong></p>
    {% if description %}
    <p>{{ description }}</p>
    {% endif %}
{%- endmacro -%}

{%- macro renderTable(table) -%}
        <table class="upw-pdf-table">
        {%- if table.caption -%}
        <caption>
            <h2 class="govuk-heading-m">{{ table.caption }}</h2>
            <p>{{ table.captionDescription }}</p>
        </caption>
        {%- endif -%}
        <tbody>
            {% for row in table.rows %}
            {%- if row.condition or row.condition == undefined -%}
            <tr>
                <th>{{ renderTableHeading(row.heading, row.description) }}</th>
                <td>{{ row.data }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
{%- endmacro -%}

{%- macro renderValue(value, description, condition) -%}
    <p>{{ value | default("No data", true) }}</p>
    {% if description and (not condition or condition and value == condition) %}
    <p>{{ description }}</p>
    {% endif %}
{%- endmacro -%}

{%- macro renderDate(value) -%}
    {% if value %}
    <p>{{ value | prettyDate }}</p>
    {% else %}
    <p>No data</p>
    {% endif %}
{%- endmacro -%}

{%- macro renderOffence(code, description) -%}
    <p>{% if code %}{{ code }} - {% endif %}{{ description }}</p>
{%- endmacro -%}

{%- macro renderGpDetails(name, phoneNumber, address) -%}
    {% if name %}<p>{{ name }}</p>{% endif %}
    {% if address %}<p>{{ address }}</p>{% endif %}
    {% if phoneNumber %}<p>{{ phoneNumber }}</p>{% endif %}
{%- endmacro -%}

{%- macro renderName(firstName, familyName) -%}
{{ firstName }} {{ familyName }}
{%- endmacro -%}

{%- macro renderAliases(firstNames, familyNames) -%}
    <p>
        {% for firstName in firstNames %}
            {%- set familyName = familyNames[loop.index - 1] -%}
            {{ renderName(firstName, familyName)}} <br />
        {% endfor %}
    </p>
{%- endmacro -%}

{%- macro renderRiskFlags(flags) -%}
    {% if flags %}
    <ul class="govuk-list">
        {% for risk in flags %}
            <li>{{ risk }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No flags</p>
    {% endif %}
{%- endmacro -%}

<div class="govuk-body upw-pdf">
    <div class="upw-pdf-header">
        <div class="upw-pdf-header__left">

            {{ renderMojCrest('#000000', 60) }}
            
            <span>Ministry of Justice</span>
            <span>HMPPS Unpaid work assessment</span>
        </div>
        <div class="upw-pdf-header__right">
            <span class="govuk-tag upw-pdf-header__right-tag">Official Sensitive</span>
        </div>
    </div>

    <div class='govuk-grid-row upw-pdf-title-page'>
        <div class='govuk-grid-column-two-thirds'>

            <div class='title-page-logos'>
                <img class="upw-pdf-title__mojlogo" src="{{ options.imageAssetPath }}MOJ_logo_large.png" height='95' />
                <img src="{{ options.imageAssetPath }}community-payback-logo.jpg" height='95' />
            </div>

            <div class='upw-pdf-title-page__body page-break-after'>

                <p class='upw-pdf-title__strapline'>Her Majesty’s Prison & Probation Service</p>
                <h1 class='upw-pdf-title'>Community payback assessment</h1>
                <div class='upw-pdf-title__divider'></div>
                <div class='upw-pdf__details'>
                    <p>Prepared by:
                    <p><strong>{{ username }}</strong>
                    <p><strong>{{ empty | todayPretty }}</strong>
                </div>
            </div>
        </div>
    </div>



    <div class='upw-avoid-break'>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-9">Supervised individual</h1>

        {{ renderTable({
            caption: "Offence details",
            rows: [
                { heading: "Offence", data: renderOffence(assessment.offence.offence, assessment.offence.offenceDescription) },
                { heading: "Subcode", data: renderOffence(assessment.offence.subCode, assessment.offence.subCodeDescription) },
                { heading: "Sentence date", data: renderValue(assessment.offence.sentenceDate) }
            ]
        }) }}
    </div>
    {{ renderTable({
        caption: "Personal details",
        rows: [
            { heading: "Family name", data: renderValue(rawAnswers["family_name"][0]) },
            { heading: "First name", data: renderValue(rawAnswers["first_name"][0]) },
            { heading: "Date of birth", data: renderDate(rawAnswers["dob"][0]) },
            { heading: "CRN", data: renderValue(rawAnswers["crn"][0]) },
            { heading: "PNC", data: renderValue(rawAnswers["pnc"][0]) },
            { heading: "Alias", data: renderAliases(rawAnswers['first_name_aliases'], rawAnswers['family_name_aliases']) },
            { heading: "Ethnicity", data: renderValue(rawAnswers["ethnicity"][0]) }
        ]
    }) }}

    {% set showSexChangeDetails = rawAnswers["sex_change"] == "YES" %}

    {{ renderTable({
        caption: "Gender information",
        rows: [
            { heading: "Gender identity", data: renderValue(answers["gender_identity"]) },
            {
                heading: "Has the individual gone through any part of a process to change the sex they were assigned at birth to the gender they now identify with, or do they intend to?",
                data: renderValue(answers["sex_change"])
            },
            { 
                heading: "Give details and discuss placement options with the individual, based on their gender identity.",
                description: "Record their preference and the details of the conversation.",
                condition: showSexChangeDetails,
                data: renderValue(answers["sex_change_details"])
            },
            {
                heading: "Is the individual intersex or do they have a Difference in Sexual Development (DSD)?",
                data: renderValue(answers["intersex_or_dsd"])
            },
            {
                heading: "Do they consider themselves to be transgender or have a transgender history?",
                description: "This could include their name, appearance, the way they dress, taking hormones, or having gender-confrming surgery.",
                data: renderValue(answers["transgender"])
            }
        ]
    }) }}

    {{ renderTable({
        caption: "Contact details",
        rows: [
            {
                heading: "Address",
                data: readOnlyAddress({
                    buildingName: answers["contact_address_building_name"],
                    houseNumber: answers["contact_address_house_number"],
                    streetName: answers["contact_address_street_name"],
                    district: answers["contact_address_district"],
                    townOrCity: answers["contact_address_town_or_city"],
                    county: answers["contact_address_county"],
                    postcode: answers["contact_address_postcode"]
                })
            },
            { heading: "Mobile", data: renderValue(answers["contact_mobile_phone_number"]) },
            { heading: "Phone number", data: renderValue(answers["contact_phone_number"]) },
            { heading: "Email", data: renderValue(answers["contact_email_addresses"]) }
        ]
    }) }}

    {{ renderTable({
        caption: "Emergency contact details",
        rows: [
            { heading: "Name", data: renderName(answers['emergency_contact_first_name'], answers['emergency_contact_family_name']) },
            { heading: "Relationship to individual", data: renderValue(answers["emergency_contact_relationship"]) },
            { heading: "Mobile", data: renderValue(answers["emergency_contact_phone_number"]) },
            { heading: "Phone number", data: renderValue(answers["emergency_contact_mobile_phone_number"]) }
        ]
    }) }}
    <div class='upw-avoid-break'>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-9">Risk of Serious Harm in the community</h1>

        {{ roshWidget(widgets.roshRiskSummary) }}
    </div>

    {{ renderTable({
        rows: [
            { heading: "Delius risk flags (registers)", data: renderRiskFlags(widgets.flags) },
            {
                heading: "History of sexual offending?", 
                data: renderValue(
                    answers["history_sexual_offending"],
                    answers["history_sexual_offending_details"],
                    "Yes"
                ) 
            },
            {
                heading: "Individual poses a risk to children?", 
                data: renderValue(
                    answers["poses_risk_to_children"],
                    answers["poses_risk_to_children_details"],
                    "Yes"
                ) 
            },
            {
                heading: "Violent offences?", 
                data: renderValue(
                    answers["violent_offences"],
                    answers["violent_offences_details"],
                    "Yes"
                ) 
            },
            {
                heading: "History of acquisitive offending?", 
                data: renderValue(
                    answers["acquisitive_offending"],
                    answers["acquisitive_offending_details"],
                    "Yes"
                ) 
            },
            {
                heading: "Has the individual been involved in serious group offending (SGO)?", 
                data: renderValue(
                    answers["sgo_identifier"],
                    answers["sgo_identifier_details"],
                    "Yes"
                ) 
            },
            {
                heading: "Control issues or disruptive behaviour?", 
                data: renderValue(
                    answers["control_issues"],
                    answers["control_issues_details"],
                    "Yes"
                ) 
            },
            {
                heading: "History of hate-based attitudes or behaviours?",
                description: "For example, homophobic or racially motivated",
                data: renderValue(
                    answers["history_of_hate_based_behaviour"],
                    answers["history_of_hate_based_behaviour_details"],
                    "Yes"
                ) 
            },
            {
                heading: "Is the individual vulnerable because they are a high-profile person?",
                description: "For example, they are prominent on social media or are well-known in a particular area.",
                data: renderValue(
                    answers["high_profile_person"],
                    answers["high_profile_person_details"],
                    "Yes"
                ) 
            },
            {
                heading: "Additional risk assessment information?",
                data: renderValue(
                    answers["additional_rosh_info"],
                    answers["additional_rosh_info_details"],
                    "Yes"
                ) 
            }
        ]
    }) }}
    <div class='upw-avoid-break'>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-9">Management of risk</h1>

        {%- set mappaDataRows = [ { heading: "MAPPA nominal?", data: renderValue("No") },
            { heading: "Location restricted by victim exclusion criteria?", data: renderValue( answers["location_exclusion_criteria"], answers["location_exclusion_criteria_details"], "Yes" ) },
            { heading: "Close supervision or restricted placement recommended?", data: renderValue( answers["restricted_placement"], answers["restricted_placement_details"], "Yes" ) },
            { heading: "Recommend not to place with female supervisor?", data: renderValue( answers["no_female_supervisor"], answers["no_female_supervisor_details"], "Yes" ) },
            { heading: "Recommend not to place with male supervisor?", data: renderValue( answers["no_male_supervisor"], answers["no_male_supervisor_details"], "Yes" ) },
            { heading: "Restrictive orders?", data: renderValue( answers["restrictive_orders"], answers["restrictive_orders_details"], "Yes" ) },
            { heading: "Are there any risk management issues for an individual placement?", data: renderValue( answers["risk_management_issues_individual"], answers["risk_management_issues_individual_details"], "Yes" ) },
            { heading: "Are there any risk management issues if working in a supervised group?", data: renderValue( answers["risk_management_issues_supervised_group"], answers["risk_management_issues_supervised_group_details"], "Yes" ) },
            { heading: "Alcohol or drug issues with health and safety impact?", data: renderValue( answers["alcohol_drug_issues"], answers["alcohol_drug_issues_details"], "Yes" ) } ] -%}

        {%- if widgets.mappa.isNominal != null %}
            {{ mappaWidget(widgets.mappa) }}
            {% set mappaDataRows = mappaDataRows | shiftArray %}
        {% endif %}
    </div>

    {{ renderTable({ rows: mappaDataRows }) }}
    <div class='upw-avoid-break'>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-9">Diversity information</h1>

        {%- set showPlacementPreferences = rawAnswers["gender_identity"] != "MALE" and rawAnswers["placement_preference"] == "YES" -%}
        {%- set showPlacementPreferencesByGender = rawAnswers["sex_change"] == "YES" -%}

        {%- if rawAnswers["requires_interpreter"] == "true" -%}
        {%- set requiresInterpreter = "Yes" -%}
        {%- elif rawAnswers["requires_interpreter"] == "false" -%}
        {%- set requiresInterpreter = "No" -%}
        {%- endif -%}

        {{ renderTable({
            rows: [
                { heading: "Preferred language", data: renderValue(rawAnswers["language"]) },
                { heading: "Interpreter required?", data: renderValue(requiresInterpreter) },
                {
                    heading: "Cultural or religious adjustments",
                    data: renderValue(
                        answers["cultural_religious_adjustment"],
                        answers["cultural_religious_adjustment_details"],
                        "Yes"
                    )
                },
                {
                    heading: "Does the individual have any placement preferences?",
                    condition: showPlacementPreferences,
                    data: renderValue(answers["placement_preferences"])
                },
                {
                    heading: "Discuss placement options with the individual, based on their gender identity",
                    description: "Record their preference and the details of the conversation.",
                    condition: showPlacementPreferencesByGender,
                    data: renderValue(answers["placement_preference_by_gender_details"])
                }
            ]
        }) }}
    </div>

    <div class='upw-avoid-break'>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-9">Placement restrictions due to health and other needs</h1>

        {%- macro ifAnswerIsPresent(answer, textIfPresent, textIfNotPresent) -%}
            {%- if answer -%}
                {{ textIfPresent }}
            {%- else -%}
                {{ textIfNotPresent }}
            {%- endif -%}
        {%- endmacro -%}

        {{ renderTable({
            caption: "Disabilities and mental health",
            captionDescription: "Does the individual have any of the following?",
            rows: [
                {
                    heading: "Physical disability",
                    data: renderValue(
                        ifAnswerIsPresent(answers["physical_disability"], "Yes", "No"),
                        answers["physical_disability_details"],
                        "Yes"
                    )
                },
                {
                    heading: "Learning disability",
                    data: renderValue(
                        ifAnswerIsPresent(answers["learning_disability"], "Yes", "No"),
                        answers["learning_disability_details"],
                        "Yes"
                    )
                },
                {
                    heading: "Learning difficulty",
                    data: renderValue(
                        ifAnswerIsPresent(answers["learning_difficulty"], "Yes", "No"),
                        answers["learning_difficulty_details"],
                        "Yes"
                    )
                },
                {
                    heading: "Mental health condition",
                    data: renderValue(
                        ifAnswerIsPresent(answers["mental_health_condition"], "Yes", "No"),
                        answers["mental_health_condition_details"],
                        "Yes"
                    )
                },
                {
                    heading: "Do any of the above affect the individual’s ability to engage with Community Payback?",
                    description: "Suggest adjustments, if known",
                    data: renderValue(
                        answers["disabilities"],
                        answers["disabilities_details"],
                        "Yes"
                    )
                }
            ]
        }) }}
    </div>

    {%- macro renderPregnancyQuestion(value, pregnantDescription, recentlyGivenBirthDescription) -%}
        <p>{{ value | default("No data", true) }}</p>
        {% if pregnantDescription and value == "Pregnant" %}
        <p>{{ pregnantDescription }}</p>
        {% elif recentlyGivenBirthDescription and value == "Recently given birth" %}
        <p>{{ recentlyGivenBirthDescription }}</p>
        {% endif %}
    {%- endmacro -%}

    {% set gpName = answers['gp_first_name'] + ' ' + answers['gp_family_name'] %}
    {{ renderTable({
        caption: "Are there any other health issues that may affect ability to work?",
        rows: [
            {
                heading: "Allergies?", 
                data: renderValue(
                    answers["allergies"],
                    answers["allergies_details"],
                    "Yes"
                ) 
            },
            {
                heading: "Sudden loss of consciousness?", 
                data: renderValue(
                    answers["loss_consciousness"],
                    answers["loss_consciousness_details"],
                    "Yes"
                ) 
            },
            {
                heading: "Epilepsy?", 
                data: renderValue(
                    answers["epilepsy"],
                    answers["epilepsy_details"],
                    "Yes"
                ) 
            },
            {
                heading: "Any other health issues?", 
                data: renderValue(
                    answers["other_health_issues"],
                    answers["other_health_issues_details"],
                    "Yes"
                ) 
            },
            {
                heading: "Pregnant or recently given birth?", 
                data: renderPregnancyQuestion(
                    answers["pregnancy"],
                    answers["pregnancy_pregnant_details"],
                    answers["pregnancy_recently_given_birth_details"]
                ) 
            },
            {
                heading: "Details of GP (if needed to verify information)", 
                data: renderGpDetails(
                    gpName,
                    answers["gp_phone_number"],
                    readOnlyAddress({ 
                        buildingName: answers["gp_address_building_name"],
                        houseNumber: answers["gp_address_house_number"],
                        streetName: answers["gp_address_street_name"],
                        district: answers["gp_address_district"],
                        townOrCity: answers["gp_address_town_or_city"],
                        county: answers["gp_address_county"],
                        postcode: answers["gp_address_postcode"]
                    })
                )
            }
        ]
    }) }}

    {%- set hasTravelIssues = answers["travel_information"] == "Yes" -%}

    {{ renderTable({
        caption: "Travel information",
        rows: [
            {
                heading: "Does the individual have any travel issues that will affect their placement?", 
                data: renderValue(
                    answers["travel_information"],
                    answers["travel_information_details"],
                    "Yes"
                ) 
            },
            {
                heading: "Does the individual have a valid driving licence?", 
                condition: hasTravelIssues,
                data: renderValue(answers["driving_licence"])
            },
            {
                heading: "Do they have access to a vehicle?", 
                condition: hasTravelIssues,
                data: renderValue(answers["vehicle"])
            },
            {
                heading: "Is public transport available and accessible to the individual?", 
                condition: hasTravelIssues,
                data: renderValue(answers["public_transport"])
            }
        ]
    }) }}

    {{ renderTable({
        caption: "Carer commitments",
        rows: [
            {
                heading: "Are there carer commitments?",
                data: renderValue(
                    answers["caring_commitments"],
                    answers["caring_commitments_details"],
                    "Yes"
                )
            }
        ]
    }) }}

    <div class='upw-avoid-break'>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-9">Employment, Education and skills</h1>

        {%- if rawAnswers["employment_education"] == "FULLTIME_EDUCATION_EMPLOYMENT" -%}
            {%- set employmentDetails = answers["employment_education_details_fulltime"] -%}
        {%- elif rawAnswers["employment_education"] == "PARTTIME_EDUCATION_EMPLOYMENT" -%}
            {%- set employmentDetails = answers["employment_education_details_parttime"] -%}
        {%- endif -%}

        {%- if employmentDetails -%}
            {%- set showEmploymentDetails = true -%}
        {%- else -%}
            {%- set showEmploymentDetails = false -%}
        {%- endif -%}

        {{ renderTable({
            rows: [
                {
                    heading: "Employment or education?",
                    data: renderValue(answers["employment_education"])
                },
                {
                    heading: "Employment or education details (working days, hours etc)",
                    data: renderValue(employmentDetails),
                    condition: showEmploymentDetails
                },
                {
                    heading: "Does the individual have any difficulties with reading or writing?",
                    data: renderValue(
                        answers["reading_writing_difficulties"],
                        answers["reading_writing_difficulties_details"],
                        "Yes"
                    )
                },
                {
                    heading: "Does the individual have any work skills or experience that could be used while carrying out Community Payback?",
                    data: renderValue(
                        answers["work_skills"],
                        answers["work_skills_details"],
                        "Yes"
                    )
                },
                {
                    heading: "Does the individual have future work plans that could be supported through a Community Payback placement?",
                    description: "For example: retail, gardening etc",
                    data: renderValue(
                        answers["future_work_plans"],
                        answers["future_work_plans_details"],
                        "Yes"
                    )
                }
            ]
        }) }}
    </div>

    {%- set showIndividualCommitment = answers["education_training_need"] == "Yes" -%}

    {{ renderTable ({
        caption: "Training & Employment Opportunities",
        captionDescription: "Supervised individuals who are unemployed, at risk of unemployment or whose offending reflects employment related needs are eligible to use up to 20% of their Community Payback hours on education, training and pre-employment activity.",
        rows: [
            {
                heading: "Does the individual have an education, training or employment-related need?",
                data: renderValue(
                    answers["education_training_need"],
                    answers["education_training_need_details"],
                    "Yes"
                ) 
            },
            {
                heading: "Does the individual agree to use the maximum entitlement of their hours on this activity?",
                condition: showIndividualCommitment,
                data: renderValue(
                    answers["individual_commitment"],
                    answers["individual_commitment_details"],
                    "Yes"
                ) 
            }
        ] 
    }) }}

    <div class='upw-avoid-break'>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-9">Placement details</h1>

        {%- set showIntensiveWorkingSection = rawAnswers["employment_education"] == "NO" -%}
        {%- if showIntensiveWorkingSection -%}

            {%- set eligibleForIntensiveWorking = rawAnswers["eligibility_intensive_working"] == "YES" -%}

            {%- if eligibleForIntensiveWorking -%}
                {% set recommendedHoursStartOrder = answers["recommended_hours_start_order"] | default("0") %}
                {% set recommendedHoursMidpointOrder = answers["recommended_hours_start_order"] | default("0") %}
            {%- endif -%}

            {{ renderTable({
                caption: "Intensive working",
                rows: [
                    {
                        heading: "Is the individual eligible for intensive working?",
                        data: renderValue(
                            answers["eligibility_intensive_working"],
                            answers["eligibility_intensive_working_details"],
                            "Yes"
                        )
                    },
                    {
                        heading: "Recommended hours per week in addition to statutory minimum, at the start of the order",
                        condition: eligibleForIntensiveWorking,
                        data: renderValue(recommendedHoursStartOrder)
                    },
                    {
                        heading: "Recommended hours per week in addition to statutory minimum, at the midpoint of the order",
                        condition: eligibleForIntensiveWorking,
                        data: renderValue(recommendedHoursMidpointOrder)
                    },
                    {
                        heading: "At what point should the individual be expected to reach a 28-hour working week?",
                        condition: eligibleForIntensiveWorking,
                        data: renderValue(answers["twenty_eight_hours_working_week_details"])
                    }
                ]
            }) }}
        {%- endif -%}
    </div>

    <div class='upw-avoid-break'>
        <h2 class="govuk-heading-m">Availability for Community Payback</h2>

        {% macro ifAnswerHasValue(answer, value, text) %}
            {% if answer and value in answer %}
                {{ text }}
            {% endif %}
        {% endmacro %}

        <table class="upw-pdf-chart">
            <caption class="upw-pdf-chart__cell--light-grey upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-bottom" colspan="8">When is the individual available for community payback work?</caption>
            <tbody>
                <tr>
                    <th class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right  upw-pdf-chart__cell--border-left"></th>
                    <th class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--mid-grey upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">Mon</th>
                    <th class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--mid-grey upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">Tues</th>
                    <th class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--mid-grey upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">Wed</th>
                    <th class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--mid-grey upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">Thurs</th>
                    <th class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--mid-grey upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">Fri</th>
                    <th class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--mid-grey upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">Sat</th>
                    <th class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--mid-grey upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">Sun</th>
                </tr>
                <tr>
                    <th class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--mid-grey upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right upw-pdf-chart__cell--border-left">Morning</th>
                    <td class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">{{ ifAnswerHasValue(rawAnswers["individual_availability"], "MONDAY_MORNING", "✓") }}</td>
                    <td class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">{{ ifAnswerHasValue(rawAnswers["individual_availability"], "TUESDAY_MORNING", "✓") }}</td>
                    <td class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">{{ ifAnswerHasValue(rawAnswers["individual_availability"], "WEDNESDAY_MORNING", "✓") }}</td>
                    <td class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">{{ ifAnswerHasValue(rawAnswers["individual_availability"], "THURSDAY_MORNING", "✓") }}</td>
                    <td class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">{{ ifAnswerHasValue(rawAnswers["individual_availability"], "FRIDAY_MORNING", "✓") }}</td>
                    <td class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">{{ ifAnswerHasValue(rawAnswers["individual_availability"], "SATURDAY_MORNING", "✓") }}</td>
                    <td class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">{{ ifAnswerHasValue(rawAnswers["individual_availability"], "SUNDAY_MORNING", "✓") }}</td>
                </tr>
                <tr>
                    <th class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--mid-grey upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right upw-pdf-chart__cell--border-left">Afternoon</th>
                    <td class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">{{ ifAnswerHasValue(rawAnswers["individual_availability"], "MONDAY_AFTERNOON", "✓") }}</td>
                    <td class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">{{ ifAnswerHasValue(rawAnswers["individual_availability"], "TUESDAY_AFTERNOON", "✓") }}</td>
                    <td class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">{{ ifAnswerHasValue(rawAnswers["individual_availability"], "WEDNESDAY_AFTERNOON", "✓") }}</td>
                    <td class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">{{ ifAnswerHasValue(rawAnswers["individual_availability"], "THURSDAY_AFTERNOON", "✓") }}</td>
                    <td class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">{{ ifAnswerHasValue(rawAnswers["individual_availability"], "FRIDAY_AFTERNOON", "✓") }}</td>
                    <td class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">{{ ifAnswerHasValue(rawAnswers["individual_availability"], "SATURDAY_AFTERNOON", "✓") }}</td>
                    <td class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">{{ ifAnswerHasValue(rawAnswers["individual_availability"], "SUNDAY_AFTERNOON", "✓") }}</td>
                </tr>
                <tr>
                    <th class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--mid-grey upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right upw-pdf-chart__cell--border-left">Evening</th>
                    <td class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">{{ ifAnswerHasValue(rawAnswers["individual_availability"], "MONDAY_EVENING", "✓") }}</td>
                    <td class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">{{ ifAnswerHasValue(rawAnswers["individual_availability"], "TUESDAY_EVENING", "✓") }}</td>
                    <td class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">{{ ifAnswerHasValue(rawAnswers["individual_availability"], "WEDNESDAY_EVENING", "✓") }}</td>
                    <td class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">{{ ifAnswerHasValue(rawAnswers["individual_availability"], "THURSDAY_EVENING", "✓") }}</td>
                    <td class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">{{ ifAnswerHasValue(rawAnswers["individual_availability"], "FRIDAY_EVENING", "✓") }}</td>
                    <td class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">{{ ifAnswerHasValue(rawAnswers["individual_availability"], "SATURDAY_EVENING", "✓") }}</td>
                    <td class="upw-pdf-chart__cell--eighth upw-pdf-chart__cell--border-bottom upw-pdf-chart__cell--border-right">{{ ifAnswerHasValue(rawAnswers["individual_availability"], "SUNDAY_EVENING", "✓") }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {{ renderTable({
        rows: [
            {
                heading: "Additional availability information",
                data: renderValue(answers["individual_availability_details"])
            }
        ]
    }) }}

    {{ renderTable({
        caption: "Equipment",
        rows: [
            {
                heading: "Male or female clothing required?",
                data: renderValue(answers["male_female_clothing"])
            },
            {
                heading: "Waterproof clothing size",
                data: renderValue(answers["waterproof_clothing"])
            },
            {
                heading: "Footwear size (UK)",
                data: renderValue(answers["footwear_size"])
            }
        ]
    }) }}

    <div class='upw-avoid-break'>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-9">Declaration</h1>
        {% if answers["declaration_confirmation"] === 'Sign declaration' %}
            {% set declarationAnswer = 'Yes' %}
        {% else %}
            {% set declarationAnswer = '' %}
        {% endif %}

        {{ renderTable({
            rows: [
                {
                    heading: "I confirm the individual has received details of their Community Payback Induction Session",
                    data: renderValue(declarationAnswer)
                }
            ]
        }) }}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>

    <div class='upw-avoid-break'>
        <h2 class="govuk-heading-m">How long will it take for the individual to complete their hours?</h2>

        <table class="upw-pdf-chart">
            <tbody>
                <tr>
                    <td class="upw-pdf-chart__cell--empty"></td>
                    <td class="upw-pdf-chart__cell--light-grey upw-pdf-chart__cell--border-top" colspan="4">If the individual works…</td>
                </tr>
                <tr>
                    <th class="upw-pdf-chart__cell--mid-grey upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right" rowspan="2">Number of hours to complete</th>
                    <th class="upw-pdf-chart__cell--mid-grey upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right">1 day per week</th>
                    <th class="upw-pdf-chart__cell--mid-grey upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right">2 days per week</th>
                    <th class="upw-pdf-chart__cell--mid-grey upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right">3 days per week</th>
                    <th class="upw-pdf-chart__cell--mid-grey upw-pdf-chart__cell--border-top">4 days per week</th>
                </tr>
                <tr>
                    <td class="upw-pdf-chart__cell--light-grey upw-pdf-chart__cell--border-top" colspan="4">…they will complete their hours in this many weeks*</td>
                </tr>
                <tr>
                    <th class="upw-pdf-chart__cell--light-grey upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right">50</th>
                    <td class="upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right">7</td>
                    <td class="upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right">4</td>
                    <td class="upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right">3</td>
                    <td class="upw-pdf-chart__cell--border-top">2</td>
                </tr>
                <tr>
                    <th class="upw-pdf-chart__cell--light-grey upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right">100</th>
                    <td class="upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right">15</td>
                    <td class="upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right">8</td>
                    <td class="upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right">5</td>
                    <td class="upw-pdf-chart__cell--border-top">4</td>
                </tr>
                <tr>
                    <th class="upw-pdf-chart__cell--light-grey upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right">150</th>
                    <td class="upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right">22</td>
                    <td class="upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right">11</td>
                    <td class="upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right">8</td>
                    <td class="upw-pdf-chart__cell--border-top">6</td>
                </tr>
                <tr>
                    <th class="upw-pdf-chart__cell--light-grey upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right">200</th>
                    <td class="upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right">29</td>
                    <td class="upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right">15</td>
                    <td class="upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right">10</td>
                    <td class="upw-pdf-chart__cell--border-top">8</td>
                </tr>
                <tr>
                    <th class="upw-pdf-chart__cell--light-grey upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right">250</th>
                    <td class="upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right">36</td>
                    <td class="upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right">18</td>
                    <td class="upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right">12</td>
                    <td class="upw-pdf-chart__cell--border-top">9</td>
                </tr>
                <tr>
                    <th class="upw-pdf-chart__cell--light-grey upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right upw-pdf-chart__cell--border-bottom">300</th>
                    <td class="upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right upw-pdf-chart__cell--border-bottom">43</td>
                    <td class="upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right upw-pdf-chart__cell--border-bottom">22</td>
                    <td class="upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-right upw-pdf-chart__cell--border-bottom">15</td>
                    <td class="upw-pdf-chart__cell--border-top upw-pdf-chart__cell--border-bottom">11</td>
                </tr>
            </tbody>
        </table>

        <p class="upw-pdf-chart__footer">*Figures are approximate and based on the individual completing 7 hours of work each day</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>

    <p class="upw-pdf-footer">Strictly NO unauthorised disclosure without following the approved disclosure process. Handle as per Government Security Classifications. The information contained in this document remains the property of HMPPS. Dispose of as <strong>OFFICIAL SENSITIVE</strong> waste.</p>

</div>