{# RSR - Offences and Convictions #}
{% if groupId === 'eb7b7324-f2a6-4902-91ef-709a8fab1f82' %}
<div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <h1 id="help-section" class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-2">Help with answering the questions</h1>
  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Total number of all sanctions for offences
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>Count the total number of convictions, conditional or absolute discharges, cautions, reprimands or final warnings. Include current offences</p>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Total number of all sanctions for offences
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>Count <strong>all</strong> violent convictions, conditional or absolute discharges, cautions, reprimands or final warnings. Include current offences.</p>
        <p class='govuk-body'>Appendix C within the RSR guidance contains a poster that practitioners use in order to determine whether offences are scored as ‘violent’. For example, drunkenness is a violent offence in this context.</p>
        <p class='govuk-body'>If a sanction includes both violent and nonviolent offences, it should be counted as violent, even if the primary offence is nonviolent. </p>
        <p class='govuk-body'>Count each court appearance for a violent offence as only one sanction, regardless of how many violent offences were involved.</p>
        <p class='govuk-body'>Please note: not all the offences in the guidance are, on first glance, violent in themselves. However, we have evidence from OASys Assessment data that the offences are either:</p>            
        <ul class="govuk-list govuk-list--bullet">
          <li>an offence that necessarily involves violence or violent intent</li>
          <li>tend to involve violence when they are actually used to charge someone – for instance people are rarely charged with being drunk in public unless there is an aggravating or public nuisance element to their behaviour</li>
        </ul>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Date of current conviction
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>If the individual pleads guilty, then the date of conviction is the date that they enter the guilty plea in court. If the date of conviction is not known, the date of the current sentence should be entered.</p>
        </ul>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Have they ever committed a sexual or sexually motivated offence?
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>Answer <strong>yes</strong> if they have:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>any current or previous sanctions for a statutory sexual offence</li>
          <li>any current or previous sanctions for a sexually motivated nonsexual offence</li>
        </ul>
        <p class='govuk-body'>Include any offences considered to contain a sexual motivation e.g. theft of item(s) linked to a sexual fetish e.g. underwear, sexually motivated murder, or murder linked to a sexual offence which was not proceeded with in Court, or dropped due to plea bargaining.</p>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Does the current offence have a sexual motivation?
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>These additional questions are designed to further understand the nature of the current and previous sanctions involving sexual or sexually motivated offences.</p>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Does the current offence involve actual/attempted contact against a victim who was a stranger?
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>A victim counts as a stranger if either the victim did not know the offender 24 hours before the offence, or the offender did not know the victim 24 hours before the offence. Similarly, the same definition of ‘knowing’ should be used. ‘Knowing’ minimally involves having met, had a conversation with, and being able to recognise the other person. All three of these conditions must be met to classify as ‘knowing’. The exception to this is when two people have been communicating via a webcam/video-conferencing; in this situation, they may not have physically met, but could still be classed as ‘knowing’ each other.</p>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Date of most recent sanction involving a sexual/sexually motivated offence
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>This requires the date of the most recent sanction for either a statutory sexual offence or offence with a sexual motivation. You should use the conviction or caution date wherever it is available (not the offence date).</p>
        <p class='govuk-body'>The additional questions triggered are designed to further understand the nature of the current and previous sanctions involving sexual or sexually motivated offences.</p>
        <p class='govuk-body'>Apply the following principles:</p>
        <p class='govuk-body'>Convictions related to intent or attempt to seek sexual contact with a live human being are considered within the <strong>contact adult</strong> and <strong>contact child</strong> offending groups. Any offending that involves causing or attempting to cause a victim to be involved in sexual activity without lawful consent can be considered a contact offence even where no physical contact has taken place e.g. within an online environment. This would include causing a child to witness sexual activity, because in this example there is an intent to cause a child to be involved with a sexual act.</p>
        <p class='govuk-body'>Offences with a sexual motivation that did not involve causing or attempting to cause a victim to be involved in sexual activity without lawful consent should be classed as non-contact e.g. voyeurism or upskirting.</p>
        <p class='govuk-body'>Class offences as <strong>contact adult</strong> if there are any victims aged 16 or over, or <strong>contact child</strong> if aged under 16.</p>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Number of previous/current sanctions involving contact adult sexual/sexually motivated offences
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>If a single sanction includes multiple sexual offence types, focus on the primary offence and count that only for the sanction.</p>
        <p class='govuk-body'>Please note: breaches of orders such as a Restraining Order, Sexual Harm Prevention Order and Criminal Behaviour Order should be disregarded when totalling contact adult, sexual contact, indecent images or other noncontact offences for scoring RSR.</p>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Number of previous/current sanctions involving contact child sexual/sexually motivated offences
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>For the purposes of this question, count the contact child sexual / sexually motivated sanctions where the victim is under 16, and statutory offences of breach of trust with victims aged 16 and 17.</p>            
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Number of previous/current sanctions involving indecent child image sexual/sexually motivated offences
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>Count the offence sanctions relating to indecent images of children. A sanction can be counted on the ‘indecent images of children’ question as well as the ‘contact’ and ‘noncontact’ questions. This will happen if the sanction includes both an indecent image offence and some other type of sexual offence. This double-counting is allowed because it is important to ensure that indecent images are counted fully to calculate the OSP/I element of RSR.</p>
        <p class='govuk-body'>A list of the offences can be found at Appendix D of the <strong>RSR Guidance</strong> available on EQuiP</p>            
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Number of previous/current sanctions involving other non-contact sexual/sexually motivated offences
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>Count sanctions for noncontact offences other than possessing or downloading indecent images of children e.g. indecent exposure, extreme pornography (generally referred to as ‘other noncontact sexual offences.</p>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Date of commencement of community sentence or earliest possible release from custody
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>This is the earliest date that the individual could be released into the community.</p>
        <p class='govuk-body'>While offence-free in the community, they can start to earn offence-free time on their RSR score. This can be impacted by their age increasing.</p>
        <p class='govuk-body'>At Court stage we do not expect you to guess the date, so it is best to enter the date of sentence if a release date is not known. There is an option for staff to update this post-sentence once an actual release date is calculated.</p>
        <p class='govuk-body'>If the individual is in prison enter the earliest possible release date; this may be HDC eligibility / parole eligibility date / conditional release date / automatic release date, etc. Use whichever date is earliest.</p>
        <p class='govuk-body'>If the individual is in custody because they have been recalled, use the current date if they could be released again at any time, otherwise use the earliest plausible date for re-release. For lifers/IPP’s use the parole hearing date / oral hearing date / tariff expiry date. If no date is available at all, use the date the assessment is being completed and review the assessment to include the exact date when it is confirmed. For community sentences, this will be the sentence date.</p>
      </div>
    </div>
  </div>
</div>
{# RSR - Needs #}
{% elif groupId === '6d3a4377-2177-429e-a7fa-6aa2444d14dd' %}
<div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <h1 id="help-section" class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-2">Help with answering the questions</h1>
  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Total number of all sanctions for offences
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>Count the total number of convictions, conditional or absolute discharges, cautions, reprimands or final warnings. Include current offences</p>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Did the offence include carrying or use of a weapon?
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>This includes any weapons the individual had in their possession. This might be, for example, a knife or gun, or any implement they used as a weapon, such as a hammer or screwdriver.</p>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Is the individual living in suitable accommodation?
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>If the individual is in custody, consider the accommodation they are likely to be returning to.</p>
        <p class='govuk-body'>Suitability refers to the appropriateness and adequacy of the accommodation and the relationship the individual has with the other adults in it. Take into account the person’s capacity to live independently, bearing in mind the challenges often faced by individuals with a hidden disability.</p>
        <p class='govuk-body'>'Quality' refers to the condition of the accommodation, whether it’s the individual’s own home or someone else's.</p>
        <p class='govuk-body'>It’s important to consider:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the safety of the accommodation</li>
          <li>difficulties with neighbours</li>
          <li>overcrowding</li>
          <li>whether the individual’s victim lives in the same house, particularly where there is a history of domestic violence</li>
          <li>whether the individual is the victim of domestic violence of another offence perpetrated by someone living in the same house</li>
          <li>availability of social amenities and facilities</li>
        </ul>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Is the person unemployed or will be unemployed upon release?
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>Remember that this is an assessment of the status of the individual’s current situation.  </p>
        <p class='govuk-body'>If they are in custody, make the assessment in relation to the expected situation on their release. </p>
        <p class='govuk-body'>Select <strong>No</strong> if the individual is or will be:</p>            
        <ul class="govuk-list govuk-list--bullet">
          <li>employed full-time or self-employed (30 or more hours a week, on average)</li>
          <li>employed part-time or self-employed (less than 30 hours a week, on average)</li>
          <li>employed on a temporary basis or casual work</li>
        </ul>
        <p class='govuk-body'>Select <strong>Yes</strong> if:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the individual is or will be available for work but are not in employment, regardless of whether or not they are receiving benefits</li>
          <li>retired or will be retired</li>
          <li>a homemaker or incapacitated</li>
          <li>a homemaker or incapacitated</li>
          <li>cannot work for any reason</li>
        </ul>
        <p class='govuk-body'>Reasons for not working might be that they are:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>an asylum seeker</li>
          <li>a refugee</li>
          <li>a foreign national with no right to work in the UK</li>
          <li>studying full or part time</li>
        </ul>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            What is the person's current relationship with their partner?
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>Remember that supportive relationships can work as a protective factor against future offending.</p>
        <p class='govuk-body'>Consider:</p>            
        <ul class="govuk-list govuk-list--bullet">
          <li>the strength of the relationship. Is it mutually supportive and respectful, or are there difficulties and stresses? </li>
          <li>not everyone wishes to have an exclusive intimate relationship at all stages of their lives. If the individual is not currently in a relationship consider how content they are with their current state.</li>
          <li>if the individual is in prison consider how this has affected any prior attachments.</li>
          <li>have relationships been maintained or have they ended?</li>
          <li>have new partnerships been formed and how sustainable are they?</li>
        </ul>
        <p class='govuk-body'><strong>No problems:</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the individual’s relationships appear to be positive, mutually supportive and caring</li>
          <li>the relationship is strong and likely to act as a protective factor against further offending</li>
          <li>the individual is single and content to be so</li>
        </ul>
        <p class='govuk-body'><strong>Some problems:</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the relationship has some problems but there is still a level of respect, care and support, and the couple are making efforts to make the relationship work</li>
          <li>the individual is single but not totally happy, and wants a partner, but is content and able to live with their present situation</li>
        </ul>
        <p class='govuk-body'><strong>Significant problems:</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>they acknowledge that their relationships are destructive or damaging to either partner, or there is evidence to suggest this is the case</li>
          <li>the relationship is directly linked to offending</li>
          <li>they are single and unhappy with their status</li>
        </ul>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Is there evidence that the individual is a perpetrator of domestic abuse?
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>Select <strong>Yes</strong> if the individual:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>admits to causing physical or emotional harm to their partner</li>
          <li>there is documented or reported evidence that they have previously, or are presently causing, physical or emotional harm</li>
          <li>admits to using threats, or there is evidence of threats that cause severe psychological or emotional damage</li>
          <li>indicates they have been the victim of domestic violence in this or previous relationships</li>
        </ul>
        <p class='govuk-body'>Select <strong>No</strong> if there are no self-reports or other evidence to suggest partner abuse or domestic violence.</p>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Is the person's current use of alcohol a problem?
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>Answer when official records show evidence of a problem, or when the individual says that they have had a problem with alcohol consumption in the last year.</p>            
        <p class='govuk-body'>The question covers individuals for whom alcohol misuse has an obvious negative impact, and those whose level of consumption puts them or others at risk.</p>            
        <p class='govuk-body'>Consider:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>how often and in what quantity alcohol is consumed</li>
          <li>that the individual may not admit to or realise that they have an alcohol problem</li>       
        </ul>
        <p class='govuk-body'>For individuals in custody, consider:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>their drinking behaviour while serving the custodial element of their sentence. State specifically if any documented evidence was used to come to this conclusion, for example, ROTL</li>
          <li>what their alcohol use was at the time of reception, and did they require detoxification?</li>       
        </ul>
        <p class='govuk-body'>For individuals in custody, consider:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>their drinking behaviour while serving the custodial element of their sentence. State specifically if any documented evidence was used to come to this conclusion, for example, ROTL</li>
          <li>what their alcohol use was at the time of reception, and did they require detoxification?</li>       
        </ul>
        <p class='govuk-body'><strong>No problems.</strong></p>
        <p class='govuk-body'>The individual:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>does not drink or drinks less frequently, and in moderation</li>
          <li>gets drunk on rare occasions</li>
          <li>drinking alcohol does not affect any other areas of their life</li>
          <li>has previously had a problem with alcohol but has stopped drinking alcohol for over at least one year</li>
        </ul>
        <p class='govuk-body'><strong>Some problems.</strong></p>
        <p class='govuk-body'>The individual:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>drinks regularly and excessively but to a lesser degree than would represent ‘significant problems’</li>
          <li>experiences some of the symptoms recorded above but not as severely</li>
          <li>recognises that they regularly drink more than they should</li>
          <li>has family who are concerned about their alcohol intake</li>
          <li>has tried to cut down or has stopped drinking for short periods, but has returned to a high level of consumption</li>
        </ul>
        <p class='govuk-body'><strong>Significant problems.</strong></p>
        <p class='govuk-body'>The individual:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>says they have a problem with alcohol consumption, or there is evidence to suggest they are prone to excessive consumption on a regular basis</li>
          <li>uses alcohol frequently and in large quantities, possibly drinking until they become unconscious</li>
          <li>has difficulty reducing intake and experiences financial difficulties</li>
          <li>consumes alcohol in the morning, possibly to avoid a hangover or withdrawal</li>
          <li>experiences delirium tremens (DTs) or blackouts</li>
          <li>is evasive about how much they drink and sometimes hides drinking, or sneaks drinks</li>
          <li>has family members who are concerned about their alcohol intake</li>
          <li>has suffered health problems related to drinking</li>
        </ul>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Is there evidence of binge drinking or excessive use of alcohol in the last 6 months?
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>This question is concerned with the individual’s pattern of drinking, rather than the frequency or level of consumption.</p>
        <p class='govuk-body'>Binge drinking is defined as drinking too much alcohol over a short period, for example, over the course of an evening. It typically leads to drunkenness. It has immediate and short-term risks to the drinker and to those around them.</p>
        <p class='govuk-body'>A binge is defined as consumption of more than twice the Government’s recommended daily limit in a single session (8 units for men and 6 units for women).  However, many binge drinkers consume substantially more than this, or drink this amount more rapidly.</p>
        <p class='govuk-body'>Binge drinking tends to involve periods of sporadic excessive consumption of alcohol interspersed with periods of relative abstinence. The individual may consume very little or no alcohol for days, weeks or even months, but will then drink large quantities, becoming quickly intoxicated.</p>
        <p class='govuk-body'>A binge may last for a number of hours or for a period of days. A common pattern is to abstain during the working week, but drink excessively at weekends. This pattern of consumption, involving periods of near abstinence or moderate drinking interspersed with binges, can be extremely problematic in terms of health and risk of reconviction.</p>
        <p class='govuk-body'>Consider:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>he number of episodes of excessive alcohol consumption in the last 6 months</li>
          <li>how long the binges last</li>
          <li>whether the binges are a weekly occurrence - for example, when the individual gets paid - or if are they less frequent</li>
          <li>whether there is any pattern to the binges or if there is an identifiable trigger, for example, after visiting their children</li>
        </ul>
        <p class='govuk-body'><strong>No problems.</strong></p>
        <p class='govuk-body'>The individual:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>elicits no evidence to suggest that they are a binge drinker</li>
          <li>has not started drinking excessively on occasions in the last 6 months</li>
          <li>does not drink alcohol at all or only drinks alcohol in moderation</li>
          <li>has previously had an alcohol misuse problem with excessive alcohol consumption or binge drinking, but has not consumed alcohol for over 1 year</li>
          <li>drinks on a regular basis, but does not have a pattern of binge drinking, even if their overall alcohol intake is at a level which may lead to problems</li>
        </ul>
        <p class='govuk-body'><strong>Some problems.</strong></p>
        <p class='govuk-body'>The individual:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>has a pattern of drinking, which could be described as binges, for example, drinking heavily at weekends, but this has not resulted in the serious problems described above</li>
          <li>does not see anything wrong in their behaviour - dismissing it as just ‘having a good night out’ or ‘letting their hair down’</li>
          <li>may spend beyond their means on binges and the binges may coincide with periods of offending</li>
          <li>has shown less frequent incidents of excessive drinking, if this appears to be an increasing phenomena and possibly linked to offending</li>
        </ul>
        <p class='govuk-body'><strong>Significant problems.</strong></p>
        <p class='govuk-body'>The individual:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>admits to, or there is evidence that they binge drink</li>
          <li>binge drinking has a detrimental effect on all areas of their life</li>
          <li>may have experienced drinking to unconsciousness, blackouts and being unable to account for periods of time when drinking</li>
          <li>may have missed work or experienced relationship difficulties due to this behaviour</li>
          <li>may be aware of the detrimental effects of their behaviour but be unable to stop, or they may not recognise the problem</li>
          <li>may spend all their available money on alcohol when binge drinking</li>
          <li>has binge drinking episodes that will often be directly related to incidents of offending</li>
          <li>has had several incidents of excessive alcohol use in the last six months, which do not amount to a binge pattern, but are ‘out of character,’ especially if these incidents were clearly related to their offending</li>
        </ul>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Is impulsivity a problem for the individual?
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>Impulsive people prefer to act rather than plan. They do not reflect, and often regret their actions later. They are prone to boredom and require a high degree of external stimulation. They may describe dangerous situations as exciting and are natural risk-takers.</p>
        <p class='govuk-body'><strong>No problems.</strong></p>
        <p class='govuk-body'>The individual:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>very rarely does anything without fully considering all the aspects of the situation</li>
          <li>takes decision-making seriously</li>
          <li>is unlikely to take huge risks for small gains</li>
          <li>is cautious about exposing themselves to risk and correctly identifies possible risks in any situation</li>
        </ul>
        <p class='govuk-body'><strong>Some problems.</strong></p>
        <p class='govuk-body'>The individual:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>complains that they become bored easily</li>
          <li>has a short attention span</li>
          <li>equates acting quickly with being decisive and positive</li>
          <li>seeks immediate gratification, which often leads to offending, and may well regret many of their actions later</li>
        </ul>
        <p class='govuk-body'><strong>Significant problems.</strong></p>
        <p class='govuk-body'>The individual:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>claims that they 'just react’</li>
          <li>is unable to explain their actions and gets into trouble because they do not think things through and see the possible consequences of their actions</li>
          <li>craves excitement, which may lead to the use of drugs, dangerous driving or other reckless activities</li>
          <li>offends 'on the spur of the moment’</li>
          <li>repeats the same mistakes because they fail to make the most of prior experience when making decisions</li>
        </ul>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Is temper control a problem for the individual?
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>Consider:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>if the individual has a low tolerance for frustration, poor resolution conflict skills, and loses their temper regularly and easily</li>
          <li>if they have a hidden disability, which may impact on communication, which can sometimes lead to frustration and loss of temper</li>
          <li>lack of temper control often leads to acts of violence</li>
          <li>how well the individual deals with negative emotions and frustrating situations</li>
        </ul>
        <p class='govuk-body'>A history of violent behaviour in itself does not justify a marking of significant problems or some problems. Many individuals use violence in a controlled instrumental way. Do not include individuals who describe themselves as angry but do not lose control.</p>
        <p class='govuk-body'><strong>No problems.</strong></p>
        <p class='govuk-body'>The individual:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>rarely loses their temper</li>
          <li>recognises events and situations that irritate them and deals with them effectively</li>
          <li>does not experience feelings of being totally out of control when angry</li>
          <li>does not become so angry that they have assaulted someone or damaged property</li>
        </ul>
        <p class='govuk-body'><strong>Some problems.</strong></p>
        <p class='govuk-body'>The individual:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>shows the same pattern of frustration and over-reaction as those who have ‘significant problems’ but with less frequency</li>
          <li>has infrequent bouts of uncontrolled anger</li>
          <li>has only one documented episode of loss of control (the current offence) and the interview fails to reveal any others</li>
        <ul>
        <p class='govuk-body'><strong>Significant problems.</strong></p>
        <p class='govuk-body'>The individual:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>has a history of regular outbreaks of anger</li>
          <li>admits to losing their temper easily. Others they associate with may be very wary of them</li>
          <li>has assaulted others when angry</li>
          <li>has smashed property</li>
          <li>when feeling angry, describes a total loss of control and an inability to remain calm until they have expressed their anger</li>
          <li>frequently becomes angry under specific circumstances or when disinhibited by alcohol or drugs</li>
        </ul>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Does the individual have pro-criminal attitudes?
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>Consider:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>The persons attitude towards offending and criminality in general.</li>
          <li>Note any beliefs that criminal behaviour is normal and acceptable.</li>
          <li>If the person makes broad generalisations to justify criminal behaviour such as 'everybody's doing it' or that victims 'only have themselves to blame'?</li>
          <li>If they excuse the levels of offending in terms of wider general factors such as levels of unemployment, the government's policies, or inequalities in society?</li>
          <li>Are they anti-authoritarian, dismissive of the judicial and law enforcement systems?</li>
          <li>If they view those who abide by the law as being weak, inferior or foolish?</li>
          <li>Some people with a undiagnosed or unidentified condition (e.g. learning disability and/or challenges or an autistic spectrum disorder) might present with a more rigid way of thinking, which can easily be misinterpreted as unyielding and even anti-authoritarian.</li>
        </ul>
        <p class='govuk-body'><strong>No problems:</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>There is no evidence that the person allies themselves with a criminal sub-culture.</li>
          <li>The person’s views about law and order are generally positive and they recognise that the majority of people are law-abiding.</li>
          <li>The person recognises and respects the rule of law in general even if they demonstrate some distortions and minimisation around their own offences.</li>
        </ul>
        <p class='govuk-body'><strong>Some problems:</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Expresses views supportive of general offending.</li>
          <li>There is some evidence that the person is involved in a criminal sub-culture.</li>
          <li>Justifies their own behaviour by comparison with the misdemeanours of others.</li>
        </ul>
        <p class='govuk-body'><strong>Significant problems:</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Expresses views favouring and excusing criminal behaviour regularly and with conviction. They may offer these views spontaneously during the interview.</li>
          <li>Shows a great deal of antipathy towards the legal system and its agencies.</li>
          <li>Strongly adheres to the views of a criminal sub-culture.</li>
        </ul>
        <p class='govuk-body'>When assessing men who have sexually offended under this item you need to be careful to avoid bias. People can commonly behave and act in opposition to their beliefs. This does not necessarily mean they have a generalised attitude that offending is acceptable. If someone sexually offends it does not automatically mean they believe that their behaviour was justified.</p>
        <p class='govuk-body'>People may minimise some of their behaviour by providing excuses and reasons, or minimising aspects, in order to:
        <ul class="govuk-list govuk-list--bullet">
          <li>make it less painful for them to deal with</li>
          <li>so that others are more likely to deem their acts as permissible and see them as morally redeemable people</li>
        </ul>
        <p class='govuk-body'>They may also maintain their innocence to protect their relationships with non-offending family others, which could have a role in supporting desistance. </p>
        <p class='govuk-body'>On the other hand, for a small number of people, maintaining innocence might be part of a strategy to retain access to potential victims, and so might be a risk factor. It is important that assessors determine the purpose that maintaining innocence might serve for the individual.</p>
        <p class='govuk-body'>Equally, maintaining innocence regarding their conviction does not necessarily mean the individual has pro-criminal attitudes, as denial can have many functions. It may serve to protect their sense of identity and of being ‘someone who would not do those things’ (i.e. they do not believe the behaviour is right) which is indicated as important for supporting the desistance-related change processes.</p>
        <p class='govuk-body'>Those with true attitudes that support sexual offending might in some cases find it difficult to contain them and so might share them with you. They may verbalise their views on the age of consent or a man’s sexual entitlement. Others may not share them because voicing such views might lead to them receiving further sanctions, or they realise they may be challenged over. </p>
        <p class='govuk-body'>Other evidence may come from observation of their discussion with other prisoners/residents about offence supportive beliefs or sayings. Any material collected during an investigation such as chat room transcripts and phone messages may also be useful. However, be mindful of the impact of peer influence: do they believe what they say or write, or do they offer it to fit in with peers? Where possible seek multiple sources and compare.</p>
      </div>
    </div>
  </div>
</div>
{% endif %}
