{% extends "common/templates/layout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "common/templates/components/question/macro.njk" import renderQuestion %}


{% set errorHeading = "Error - " + heading %}

{% block pageTitle %}
    {% if errors %}
        {{ errorHeading }}
    {% else %}
        {{ heading }}
    {% endif %}
{% endblock %}

{% block beforeContent %}
    <div role="navigation" aria-label="back">
        {{ govukBackLink({
            href: "/" + assessmentId + "/assessments"
        }) }}
    </div>
{% endblock %}

{% block content %}
    {# include errorSummary partial #}
    {{ super() }}

    <h1 class="govuk-heading-l">
        {{ heading }}
    </h1>

    <h2 class="govuk-heading-m">
        {{ subheading }}
    </h2>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form method="post" id="{{ groupId }}" novalidate>

                {% for question in questions %}
                    {{ renderQuestion(question) }}
                {% endfor %}

                {% if last %}
                    {{ govukButton({
                        text: 'Save',
                        classes: 'govuk-!-margin-bottom-3'
                    }) }}
                {% else %}
                    {{ govukButton({
                        text: 'Continue',
                        classes: 'govuk-!-margin-bottom-3'
                    }) }}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
