node_modules
public
common/assets/javascripts/*.min.js
common/browsered/*.js
package.json
package-lock.json
cypress.json
cypress-reporter-config.json
wiremock/responses/*
integration-tests/mockApis/responses/*
app/questionGroup/fixtures/*