node_modules
public
common/assets/javascripts/*.min.js
common/assets/javascripts/app-insights.js
common/browsered/*.js
package.json
package-lock.json
app/questionGroup/fixtures/*.json
app/addRow/fixtures/*.json
app/editRow/fixtures/*.json
app/summary/fixtures/*.json
common/middleware/testSupportFiles
wiremock
