node_modules
public
common/assets/javascripts/*.min.js
common/browsered/*.js
package.json
package-lock.json
cypress.json
cypress.env.json
cypress-reporter-config.json
wiremock/responses/*
integration-tests/mockApis/responses/*
app/questionGroup/fixtures/*.json
app/addRow/fixtures/*.json
app/editRow/fixtures/*.json
app/summary/fixtures/*.json
