[submodule "hmpps-community-payback-assessment-e2e-tests"]
	path = hmpps-community-payback-assessment-e2e-tests
	url = http://github.com/ministryofjustice/hmpps-community-payback-assessment-e2e-tests
	branch = main
	update = rebase
