{% extends "common/templates/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
    {{ heading }}
{% endblock %}

{% block header %}
    {% set backLink = returnUrl %}
    {% set backText = "Back" %}
    {% include "common/templates/partials/header.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{ govukPanel({
            titleText: panelText,
            classes: "predictor-complete-panel"
        }) }}
        
        {{ govukButton({
            text: "Close the RSR calculator",
            href: '/'
        }) }}
    </div>
</div>
{% endblock %}
