{% extends "common/templates/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "common/templates/components/question-wizard/macro.njk" import renderWizardQuestion %}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block beforeContent %}
<div role="navigation" aria-label="back">
    {{ govukBackLink({
        href: backLink,
        text: "Back"
    }) }}
</div>
{% endblock %}

{% block content %}
<span class="govuk-caption-xl">{{ options.journeyPageTitle }}</span>
<h1 class="govuk-heading-xl">
    {{ pageTitle }}
</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post" action="{{ action }}">
            <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}">
            
            {% for field, fieldOptions in options.fields %}
            {{ renderWizardQuestion(field, fieldOptions) }}
            {% endfor %}
            
            <div class="questiongroup-action-buttons">
                {{ govukButton({
                    text: buttonText | default('Save and continue'),
                    classes: 'govuk-!-margin-bottom-3 govuk-!-margin-right-1'
                }) }}
            </div>
        </form>

    </div>
</div>
{% endblock %}
