{% extends "common/templates/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "common/templates/components/question/macro.njk" import renderQuestion %}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block beforeContent %}
<div role="navigation" aria-label="back">
    {{ govukBackLink({
        href: backLink,
        text: "Back"
    }) }}
</div>
{% endblock %}

{% block content %}
<span class="govuk-caption-xl">{{ options.journeyPageTitle }}</span>
<h1 class="govuk-heading-xl">
    {{ pageTitle }}
</h1>

<div class="body-link__container govuk-!-margin-bottom-8"><a href="#help-section" class="govuk-link body-link">Do you need help to answer the questions?</a></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" action="{{ action }}">
            <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}">

            {{ renderQuestion(questions['date_first_sanction']) }}
            {{ renderQuestion(questions['age_first_conviction']) }}
            {{ renderQuestion(questions['total_sanctions']) }}
            {{ renderQuestion(questions['total_violent_offences']) }}
            {{ renderQuestion(questions['date_current_conviction']) }}
            {{ renderQuestion(questions['any_sexual_offences']) }}
            {{ renderQuestion(questions['total_non_contact_sexual_offences']) }}
            {{ renderQuestion(questions['earliest_release_date']) }}
            {{ renderQuestion(questions['completed_interview']) }}

            <div class="questiongroup-action-buttons">
                {{ govukButton({
                    text: buttonText | default('Save and continue'),
                    classes: 'govuk-!-margin-bottom-3 govuk-!-margin-right-1'
                }) }}
            </div>
        </form>

    </div>
    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h1 id="help-section" class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-2">Help with answering the questions</h1>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Age at first sanction
          </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p class='govuk-body'>Enter the age of first contact with the police. If no other source of information is available, the assessor can rely on the individual’s account. If the current offence was the individual’s first contact with police, enter their age at the time of the current offence.</p>
                    <p class='govuk-body'>If the RSR is being calculated pre-conviction (i.e. where a PSR is completed before a plea is entered) and if the current sanction is the first sanction, then the anticipated date of conviction should be entered (i.e. Court Hearing).</p>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Total number of all sanctions for offences
          </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p class='govuk-body'>Count the total number of convictions, conditional or absolute discharges, cautions, reprimands or final warnings. Include current offences.</p>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            How many of the total number of sanctions involved violent offences?
          </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p class='govuk-body'>Count <strong>all</strong> violent convictions, conditional or absolute discharges, cautions, reprimands or final warnings. Include current offences.</p>
                    <p class='govuk-body'>Appendix C within the <a href="https://equip-portal.rocstac.com/CtrlWebIsapi.dll/?__id=docDetails.showDoc&doc=2E31B09C29D342B195094C735DAF7612&dpt=1" class="govuk-link">RSR Guidance</a> contains a poster that practitioners use in order to determine whether offences are scored as ‘violent’. For example, drunkenness is a violent offence in this context.</p>
                    <p class='govuk-body'>If a sanction includes both violent and nonviolent offences, it should be counted as violent, even if the primary offence is nonviolent. </p>
                    <p class='govuk-body'>Count each court appearance for a violent offence as only one sanction, regardless of how many violent offences were involved.</p>
                    <p class='govuk-body'>Please note: not all the offences in the guidance are, on first glance, violent in themselves. However, we have evidence from OASys Assessment data that the offences are either:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>an offence that necessarily involves violence or violent intent</li>
                        <li>tend to involve violence when they are actually used to charge someone – for instance people are rarely charged with being drunk in public unless there is an aggravating or public nuisance element to their behaviour</li>
                    </ul>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Date of current conviction
          </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p class='govuk-body'>If the individual pleads guilty, then the date of conviction is the date that they enter the guilty plea in court. If the date of conviction is not known, the date of the current sentence should be entered.</p>
                    </ul>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Have they ever committed a sexual offence?
          </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p class='govuk-body'>Answer <strong>yes</strong> if they have:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>any current or previous sanctions for a statutory sexual offence</li>
                        <li>any current or previous sanctions for a sexually motivated nonsexual offence</li>
                    </ul>
                    <p class='govuk-body'>Include any offences considered to contain a sexual motivation e.g. theft of item(s) linked to a sexual fetish e.g. underwear, sexually motivated murder, or murder linked to a sexual offence which was not proceeded with in Court, or dropped due to plea bargaining.</p>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Does the current offence have a sexual motivation?
          </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p class='govuk-body'>These additional questions are designed to further understand the nature of the current and previous sanctions involving sexual or sexually motivated offences.</p>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Does the current offence involve a victim who was a stranger?
          </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p class='govuk-body'>A victim counts as a stranger if either the victim did not know the offender 24 hours before the offence, or the offender did not know the victim 24 hours before the offence. Similarly, the same definition of ‘knowing’ should be used. ‘Knowing’ minimally involves having met, had a conversation with, and being able to recognise the other person. All three of these conditions must be met to classify as ‘knowing’. The exception to this is when two people have been communicating via a webcam/video-conferencing; in this situation, they may not have physically met, but could still be classed as ‘knowing’ each other.</p>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Date of most recent sanction involving a sexual or sexually motivated offence
          </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p class='govuk-body'>This requires the date of the most recent sanction for either a statutory sexual offence or offence with a sexual motivation. You should use the conviction or caution date wherever it is available (not the offence date).</p>
                    <p class='govuk-body'>The additional questions triggered are designed to further understand the nature of the current and previous sanctions involving sexual or sexually motivated offences.</p>
                    <p class='govuk-body'>Apply the following principles:</p>
                    <p class='govuk-body'>Convictions related to intent or attempt to seek sexual contact with a live human being are considered within the <strong>contact adult</strong> and <strong>contact child</strong> offending groups. Any offending that involves causing or attempting to cause a victim to be involved in sexual activity without lawful consent can be considered a contact offence even where no physical contact has taken place e.g. within an online environment. This would include causing a child to witness sexual activity, because in this example there is an intent to cause a child to be involved with a sexual act.</p>
                    <p class='govuk-body'>Offences with a sexual motivation that did not involve causing or attempting to cause a victim to be involved in sexual activity without lawful consent should be classed as non-contact e.g. voyeurism or upskirting.</p>
                    <p class='govuk-body'>Class offences as <strong>contact adult</strong> if there are any victims aged 16 or over, or <strong>contact child</strong> if aged under 16.</p>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Number of previous or current sanctions involving contact adult sexual or sexually motivated offences
          </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p class='govuk-body'>If a single sanction includes multiple sexual offence types, focus on the primary offence and count that only for the sanction.</p>
                    <p class='govuk-body'>Please note: breaches of orders such as a Restraining Order, Sexual Harm Prevention Order and Criminal Behaviour Order should be disregarded when totalling contact adult, sexual contact, indecent images or other noncontact offences for scoring RSR.</p>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Number of previous or current sanctions involving contact child sexual or sexually motivated offences
          </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p class='govuk-body'>For the purposes of this question, count the contact child sexual / sexually motivated sanctions where the victim is under 16, and statutory offences of breach of trust with victims aged 16 and 17.</p>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Number of previous or current sanctions involving indecent child image sexual or sexually motivated offences
          </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p class='govuk-body'>Count the offence sanctions relating to indecent images of children. A sanction can be counted on the ‘indecent images of children’ question as well as the ‘contact’ and ‘noncontact’ questions. This will happen if the sanction includes both an indecent image offence and some other type of sexual offence. This double-counting is allowed because it is important to ensure that indecent images are counted fully to calculate the OSP/I element of RSR.</p>
                    <p class='govuk-body'>A list of the offences can be found at Appendix D of the <a href="https://equip-portal.rocstac.com/CtrlWebIsapi.dll/?__id=docDetails.showDoc&doc=2E31B09C29D342B195094C735DAF7612&dpt=1" class="govuk-link">RSR Guidance</a> available on EQuiP</p>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Number of previous or current sanctions involving other non-contact sexual or sexually motivated offences
          </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p class='govuk-body'>Count sanctions for noncontact offences other than possessing or downloading indecent images of children e.g. indecent exposure, extreme pornography (generally referred to as ‘other noncontact sexual offences.</p>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Date of commencement of community sentence or earliest possible release from custody
          </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p class='govuk-body'>This is the earliest date that the individual could be released into the community.</p>
                    <p class='govuk-body'>While offence-free in the community, they can start to earn offence-free time on their RSR score. This can be impacted by their age increasing.</p>
                    <p class='govuk-body'>At Court stage we do not expect you to guess the date, so it is best to enter the date of sentence if a release date is not known. There is an option for staff to update this post-sentence once an actual release date is calculated.</p>
                    <p class='govuk-body'>If the individual is in prison enter the earliest possible release date; this may be HDC eligibility / parole eligibility date / conditional release date / automatic release date, etc. Use whichever date is earliest.</p>
                    <p class='govuk-body'>If the individual is in custody because they have been recalled, use the current date if they could be released again at any time, otherwise use the earliest plausible date for re-release. For lifers/IPP’s use the parole hearing date / oral hearing date / tariff expiry date. If no date is available at all, use the date the assessment is being completed and review the assessment to include the exact date when it is confirmed. For community sentences, this will be the sentence date.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
