{% extends "common/templates/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "common/templates/components/predictor-score/macro.njk" import predictorScore %}
{% from "common/templates/components/predictor-timeline/macro.njk" import predictorTimeline %}

{% block pageTitle %}
    {{ heading }}
{% endblock %}

{% block header %}
    {% include "common/templates/partials/header.njk" %}
{% endblock %}

{% block content %}    
<span class="govuk-caption-xl">{{ options.journeyPageTitle }}</span>    
<h1 class="govuk-heading-xl">
    {{ heading }}
</h1>

<div class="govuk-grid-row">
    <div  id="predictor-scores"  class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l score-header">RSR score</h2>
                <p class="scoretype-indicator">{% if scoreType == 'DYNAMIC' %}Dynamic{% else %}Static{% endif %}</p>
                {{ predictorScore(predictorScores.current.scores.RSR) }}
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            About RSR scores
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <h3 class="govuk-heading-s">What it shows</h3>
                        <p>The probability of proven reoffending by an individual within 1 and 2 years. Three types of offence are covered:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>Serious Nonsexual Violence (SNSV)</li>
                            <li>Contact Sexual (CS)</li>
                            <li>Indecent Images of Children (IIOC)</li>
                        </ul>
                        <p>Each type has its own actuarial predictor, and the RSR is the sum of all three predictor scores. The CS and IIOC elements are only scored for individuals with a known history of sexual offending; for those without a history, the RSR score is simply the SNSV score. For men, the CS and IIOC elements are provided by the OASys Sexual Reoffending Predictor scores (OSP/C and OSP/I, respectively).</p>
                        <h3 class="govuk-heading-s">Definitions</h3>
                        <p>In this case, ‘an individual’ means someone with Garry’s characteristics and circumstances.</p>
                        <h3 class="govuk-heading-s">How to use it</h3>
                        <p>RSR scores should be used to underpin structured professional judgements of Risk of Serious Harm (RoSH). The scores can also be used to support decisions to allocate individuals within the National Probation Service.</p>
                        <h3 class="govuk-heading-s">Things to note</h3>
                        <p>Proven serious reoffending is rare. Fewer than 2% of the caseload commit a proven serious reoffence within 2 years of a release from prison or the start of a community order.</p>
                        <p>There are two versions of RSR, depending how SNSV is scored: “brief static”, which uses similar risk factors to OGRS, and “extended static / dynamic” which incorporates dynamic risk factor and additional serious offending history data from the Offender Assessment System (OASys).</p>
                        <h3 class="govuk-heading-s">How it is calculated</h3>
                        <p>RSR is calculated from answers to static questions. Depending on the static data, there is the possibility of answering additional dynamic questions during the assessment.</p>
                    </div>
                </details>
            </div>
        </div>
    {% if scoreType == 'DYNAMIC' %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-l score-header">OSP/C score</h2>
                {{ predictorScore(predictorScores.current.scores.OSPC) }}
            </div>
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-l score-header">OSP/I score</h2>
                {{ predictorScore(predictorScores.current.scores.OSPI) }}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            About OSP/C scores
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <h3 class="govuk-heading-s">What it shows</h3>
                        <p>OSP/C is one of two scores that make up OSP. The other score is OSP/I.</p>
                        <p>OSP/C predicts proven reoffending for a sexual or sexually motivated offence involving actual or attempted physical contact with a victim.</p>
                        <h3 class="govuk-heading-s">Definitions</h3>
                        <p>A contact offence is defined by intended, attempted or actual contact with a live human being. Offences such as inciting a child to engage in sexual activity and grooming can be considered a ‘contact’ offence, even if no physical contact has happened; for example, the contact has taken place over the internet.</p>
                        <h3 class="govuk-heading-s">How to use it</h3>
                        <p>OSP/C gives an outcome of ‘Low’, ‘Medium’, ‘High’ or ‘Very High’. Scores on an underlying 64-point scale are reported in these four groups.</p>
                        <h3 class="govuk-heading-s">Things to note</h3>
                        <p>OSP is only calculated for men with a known history of sexual offending, including sexually motivated offending. While OSP does not predict the likelihood of someone committing an “other noncontact” sexual reoffence such as voyeurism or indecent exposure, OSP must still be calculated for men with such offending histories, to estimate their contact sexual and indecent images reoffending risks.</p>
                        <h3 class="govuk-heading-s">How it is calculated</h3>
                        <p>OSP/C takes into account information about the individual such as age, number of sexual or sexually motivated offences, previous offending and if they have committed a contact or attempted contact offence against a stranger victim.</p>
                    </div>
                </details>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            About OSP/I scores
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <h3 class="govuk-heading-s">What it shows</h3>
                        <p>OSP/I is one of two scores that make up OSP. The other score is OSP/C.</p>
                        <h3 class="govuk-heading-s">Definitions</h3>
                        <p>OSP/I predicts proven reoffending involving possessing or downloading indecent images of children.</p>
                        <h3 class="govuk-heading-s">How to use it</h3>
                        <p>OSP/I is a 3 point scale, giving an outcome of ‘Low’, ‘Medium’ or ‘High’.</p>
                        <h3 class="govuk-heading-s">Things to note</h3>
                        <p>OSP is only calculated for men with a known history of sexual offending, including sexually motivated offending. While OSP does not predict the likelihood of someone committing an “other noncontact” sexual reoffence such as voyeurism or indecent exposure, OSP must still be calculated for men with such offending histories, to estimate their contact sexual and indecent images reoffending risks.</p>
                        <h3 class="govuk-heading-s">How it is calculated</h3>
                        <p>The OSP/I scale takes into account the overall number of current and previous convictions for IIOC offences.</p>
                    </div>
                </details>
            </div>
        </div>
    {% endif %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <form method="post" action="{{ action }}">
                    <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}">
                    <div class="govuk-button-group">
                        {{ govukButton({
                            text: "Submit scores to Delius"
                        }) }}

                        {{ govukButton({
                            text: "Return to questions",
                            classes: "govuk-button--secondary",
                            href: '/rsr/offences-and-convictions'
                        }) }}
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if predictorScores.historical.length %}
    <div id="predictor-scores-history" class="govuk-grid-column-one-third">
        <div class="govuk-body predictor-timeline__heading">
            <h2 class="govuk-heading-l">Scores history</h2>
            <a id="predictor-timeline__toggle-all" href="#" class="govuk-link">Open all</a>
        </div>
        {{ predictorTimeline(predictorScores.historical) }}
    </div>
    {% endif %}
</div>
{% endblock %}
