/* styles related to specific elements that will be generated */

.numeric input {
  @extend .govuk-input--width-3;
}

.landing-page__offence-details {
  background: #e0eef8;
  padding: 20px;

  th,
  td {
    font-size: 24px;
  }
}

.landing-page__heading {
  margin-bottom: 30px;
}

.govuk-table__cell-wrap {
  white-space: pre-wrap;
}

.questiongroup-action-buttons__start {
  margin-top: 10px;
}
