{% if groupId === 'eb7b7324-f2a6-4902-91ef-709a8fab1f82' or groupId === '6d3a4377-2177-429e-a7fa-6aa2444d14dd' %}
<a href="#help-section" class="govuk-link">Do you need help to answer the questions?</a>
{% endif %}
