{% extends "common/templates/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "common/templates/components/question/macro.njk" import renderQuestion %}
{% from "common/templates/components/widgets/macro.njk" import widgets %}

{% set backLink = 'task-list' %}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block header %}
{% include "common/templates/partials/header.njk" %}
{% endblock %}

{% block content %}
{# include errorSummary partial #}
{{ super() }}

<div class="govuk-grid-row">
    <section class="govuk-grid-column-three-quarters" aria-label="Form content">
        <span class="govuk-caption-xl">Placement restrictions due to health and other needs</span>
        <form method="post" action="{{ action }}">
            <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}">

            {% if persistedAnswers["active_carer_commitments"] %}
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--xl">Are there carer commitments?</caption>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Carer commitments</th>
                    <td class="govuk-table__cell">
                    <ul class="govuk-list">
                    {% for commitment in persistedAnswers["active_carer_commitments"] %}
                        <li>
                            {{ commitment["subType"] }}
                        </li>
                    {% endfor %}
                    </ul>
                    </td>
                    </tr>
                </tbody>
            </table>

            {{ renderQuestion(questions['active_carer_commitments_details'], errors) }}

            {% else %}

            {{ renderQuestion(questions['caring_commitments'], errors) }}

            {% endif %}
            
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible upw-complete-break">

            {{ renderQuestion(questions['caring_commitments_complete'], errors) }}

            <div class="questiongroup-action-buttons">
                {{ govukButton({
                    text: buttonText | default('Save'),
                    classes: 'govuk-!-margin-bottom-3 govuk-!-margin-right-1'
                }) }}
            </div>
        </form>
    </section>

    {{ widgets(widgetData) }}
    
</div>
{% endblock %}
