{% extends "common/templates/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "common/templates/components/question/macro.njk" import renderQuestion %}
{% from "common/templates/components/read-only/macro.njk" import readOnly %}
{% from "common/templates/components/widgets/macro.njk" import widgets %}
{% from "app/upw/templates/placement-restrictions/components/disabilities/macro.njk" import renderDisabilities %}
{% from "app/upw/templates/placement-restrictions/components/render-disabilities/macro.njk" import renderCurrentDisabilities %}
{% from "app/upw/templates/placement-restrictions/components/render-provisions/macro.njk" import renderCurrentProvisions %}

{% set backLink = 'task-list' %}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block header %}
{% include "common/templates/partials/header.njk" %}
{% endblock %}

{% block content %}

{{ super() }}

<div class="govuk-grid-row">
    <section class="govuk-grid-column-three-quarters" aria-label="Form content">
        <span class="govuk-caption-xl">Placement restrictions due to health and other needs</span>
        <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
        
        <form method="post" action="{{ action }}">
            <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}">

            {% set disabilities = persistedAnswers["current_disabilities"] %}
            {% set provisions = persistedAnswers["current_provisions"] %}

            {% if disabilities %}
                {{ renderCurrentDisabilities(disabilities) }}
            {% endif %}

            {% if provisions %}
                {{ renderCurrentProvisions(provisions) }}
            {% endif %}


            {% if not disabilities and not provisions %}
                {{ renderDisabilities(answers, persistedAnswers) }}
            {% endif %}

            {{ renderQuestion(questions['additional_disabilities'], errors) }}
            {{ renderQuestion(questions['disabilities'], errors) }}

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible upw-complete-break">

            {{ renderQuestion(questions['disabilities_complete'], errors) }}

            <div class="questiongroup-action-buttons">
                {{ govukButton({
                    text: buttonText | default('Save'),
                    classes: 'govuk-!-margin-bottom-3 govuk-!-margin-right-1'
                }) }}
            </div>
        </form>
    </section>

    {{ widgets(widgetData) }}
    
</div>
{% endblock %}
