{% extends "common/templates/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "common/templates/components/question/macro.njk" import renderQuestion %}
{% from "common/templates/components/read-only/macro.njk" import readOnly %}
{% from "common/templates/components/read-only-address/macro.njk" import readOnlyAddress %}

{% set backLink = 'gp-details' %}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block header %}
{% include "common/templates/partials/header.njk" %}
{% endblock %}

{% block content %}
{# include errorSummary partial #}
{{ super() }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
        
        <form method="post" action="{{ action }}">
            <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}">

            {{ renderQuestion(questions['upw_gp_first_name'], errors, null, null, null, {
                classes: 'govuk-!-width-two-thirds'
            }) }}

            {{ renderQuestion(questions['upw_gp_family_name'], errors, null, null, null, {
                classes: 'govuk-!-width-two-thirds'
            }) }}

            <h2 class="govuk-heading-m">Address</h2>

            {{ renderQuestion(questions['upw_gp_address_building_name'], errors, null, null, null, { 
                useSmallLabel: true,
                classes: 'govuk-!-width-two-thirds'
            }) }}
            {{ renderQuestion(questions['upw_gp_address_house_number'], errors, null, null, null, { 
                useSmallLabel: true,
                classes: 'govuk-!-width-one-quarter'
            }) }}
            {{ renderQuestion(questions['upw_gp_address_street_name'], errors, null, null, null, { 
                useSmallLabel: true
            }) }}
            {{ renderQuestion(questions['upw_gp_address_district'], errors, null, null, null, { 
                useSmallLabel: true
            }) }}
            {{ renderQuestion(questions['upw_gp_address_town_or_city'], errors, null, null, null, { 
                useSmallLabel: true,
                classes: 'govuk-!-width-two-thirds'
            }) }}
            {{ renderQuestion(questions['upw_gp_address_county'], errors, null, null, null, { 
                useSmallLabel: true,
                classes: 'govuk-!-width-two-thirds'
            }) }}
            {{ renderQuestion(questions['upw_gp_address_postcode'], errors, null, null, null, { 
                useSmallLabel: true,
                classes: 'govuk-!-width-one-third'
            }) }}

            {{ renderQuestion(questions['upw_gp_phone_number'], errors) }}

            <div class="questiongroup-action-buttons">
                {{ govukButton({
                    text: buttonText | default('Save'),
                    classes: 'govuk-!-margin-bottom-3 govuk-!-margin-right-1'
                }) }}
                {{ govukButton({
                    text: "Cancel",
                    classes: "govuk-button--secondary",
                    href: backLink
                }) }}
            </div>
        </form>

    </div>
</div>
{% endblock %}
