{% extends "common/templates/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "common/templates/components/question/macro.njk" import renderQuestion %}
{% from "common/templates/components/widgets/macro.njk" import widgets %}

{% set backLink = 'task-list' %}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block header %}
{% include "common/templates/partials/header.njk" %}
{% endblock %}

{% block content %}
{# include errorSummary partial #}
{{ super() }}

<div class="govuk-grid-row">
    <section class="govuk-grid-column-three-quarters" aria-label="Form content">
        <span class="govuk-caption-xl">Placement restrictions due to health and other needs</span>
        <h1 class="govuk-heading-xl">Are there any other health issues that may affect ability to work?</h1>
        
        <form method="post" action="{{ action }}">
            <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}">

            {{ renderQuestion(questions['allergies'], errors) }}
            {{ renderQuestion(questions['loss_consciousness'], errors) }}
            {{ renderQuestion(questions['epilepsy'], errors) }}
            {{ renderQuestion(questions['pregnancy'], errors) }}
            {{ renderQuestion(questions['other_health_issues'], errors) }}

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible upw-complete-break">
            
            {{ renderQuestion(questions['health_issues_complete'], errors) }}

            <div class="questiongroup-action-buttons">
                {{ govukButton({
                    text: buttonText | default('Save'),
                    classes: 'govuk-!-margin-bottom-3 govuk-!-margin-right-1'
                }) }}
            </div>
        </form>
    </section>

    {{ widgets(widgetData) }}
    
</div>
{% endblock %}
