/*  styles related to specific questions and elements in the unpaid work assessment */
@use "sass:math";

$compact-table-breakpoint: 650px;

/* stylelint-disable selector-class-pattern */
.cultural_religious_adjustment,
.placement_preference,
.caring_commitments {
  font-size: 48px;
}

/* stylelint-enable selector-class-pattern */

.upw-complete-break {
  margin-top: 50px;
}

.upw-read-only__header {
  @include govuk-clearfix;
}

.upw-read-only__heading {
  float: left;
}

.upw-summary__links {
  float: right;
  margin-bottom: govuk-spacing(4);

  & a {
    font-size: 1.25rem;
    margin-left: 10px;
  }

  & a:first-of-type {
    margin-left: 0;
  }
}

.upw-summary__link--remove {
  color: #d4351c !important;
  margin-left: 10px;
}

.upw-summary-list--bottom-margin {
  margin-bottom: govuk-spacing(8);
}

.upw-summary-list--top-border {
  border-top: 1px solid #b1b4b6;
}

/* availability matrix table */
.upw-availability-table {
  margin-top: 25px;
}

.upw-availability-table__caption {
  text-align: left;
  margin-bottom: 10px;
}

.upw-availability-table__header {
  background: rgba(0 0 0 / 5%);
  padding: 15px 5px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  width: 90px;

  @media (max-width: $compact-table-breakpoint) {
    padding: 2px;
    writing-mode: vertical-rl;
    vertical-align: middle;
    text-orientation: sideways;
  }
}

.upw-availability-table__rowheader {
  background: #505a5f;
  padding: 10px 5px;
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  border-top: 0;
  width: 90px !important;
}

.upw-availability-table__cell {
  padding: 10px 24px 10px 0;
  border-left: 1px solid #b1b4b6;
  border-right: 1px solid #b1b4b6;

  &:last-child {
    padding: 10px 24px 10px 0;
  }

  .govuk-checkboxes__item {
    padding: 0;
    width: 0;
    height: 0;
    margin: 0 auto;
  }
}

.upw-availability-table__column {
  border-left: 1px solid #b1b4b6;
  border-right: 1px solid #b1b4b6;
}

.upw-availability-table__column > :last-child {
  border-right: 0;
}

.upw-availability-table__item-18,
.upw-availability-table__item-19,
.upw-availability-table__item-20,
.no-right-border {
  border-right: 0;
}

.upw-availability-table__item-2,
.upw-availability-table__item-5,
.upw-availability-table__item-8,
.upw-availability-table__item-11,
.upw-availability-table__item-14,
.upw-availability-table__item-17,
.upw-availability-table__item-20 {
  border-bottom: 0;
}

.upw-confirmation-panel {
  margin-bottom: govuk-spacing(5);
}

.upw-white-background {
  background: #fff;
}

.upw-accessibility-statement-img {
  height: 550px;
}

.upw-accessibility-statement-img2 {
  height: 500px;
}
