@use 'sass:math';

@media print {
  .page-break-after {
    page-break-after: always;
  }
  .upw-pdf-header,
  .upw-pdf-footer {
    display: none;
  }
  .upw-pdf-table,
  .upw-pdf-chart,
  .upw-avoid-break {
    break-inside: avoid;
  }
  h1,
  h2 {
    break-after: avoid-page;
  }
}

.upw-pdf {
  @media print {
    &,
    & p,
    & span {
      @include govuk-font(14, 'regular');
    }
  }

  & p:last-of-type {
    margin: 0;
  }
}

.upw-pdf-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: govuk-spacing(5);

  & tr {
    border-top: 1px solid govuk-colour('mid-grey');
    border-bottom: 1px solid govuk-colour('mid-grey');
  }

  & tr:first-of-type {
    border-top: 1px solid govuk-colour('dark-grey');
  }

  & th {
    padding-left: govuk-spacing(1);
    padding-right: govuk-spacing(3);
    width: percentage(math.div(1, 3));
    background-color: govuk-colour('light-grey');
  }

  & td {
    padding-left: govuk-spacing(3);
  }

  & caption,
  & td,
  & th {
    text-align: left;
    vertical-align: top;
    padding-top: govuk-spacing(2);
    padding-bottom: govuk-spacing(2);
  }
}

.upw-pdf-header {
  @include govuk-clearfix;

  width: 100%;
  border-bottom: 1px solid #000;
  margin-bottom: govuk-spacing(6);
}

.upw-pdf-header__left {
  float: left;

  & svg {
    float: left;
  }

  & span {
    float: right;
    width: 85%;
  }

  & span:first-of-type {
    font-weight: bold;
  }
}

.upw-pdf-header__right {
  float: right;
}

.upw-pdf-header__right-tag {
  background-color: govuk-colour('red');
}

.upw-pdf-footer {
  width: 75%;
  font-weight: bold;

  & strong {
    color: govuk-colour('red');
  }
}

.upw-pdf-chart {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  margin-bottom: govuk-spacing(5);

  caption {
    padding: govuk-spacing(2);
  }

  & td,
  & th {
    text-align: center;
    padding: govuk-spacing(2);
  }
}

.upw-pdf-chart__footer {
  text-align: right;
}

.upw-pdf-chart__cell--eighth {
  width: percentage(math.div(1, 8));
}

.upw-pdf-chart__cell--border-top {
  border-top: 1px solid govuk-colour('mid-grey');
}

.upw-pdf-chart__cell--border-bottom {
  border-bottom: 1px solid govuk-colour('mid-grey');
}

.upw-pdf-chart__cell--border-left {
  border-left: 1px solid govuk-colour('mid-grey');
}

.upw-pdf-chart__cell--border-right {
  border-right: 1px solid govuk-colour('mid-grey');
}

.upw-pdf-chart__cell--light-grey {
  background-color: #f3f2f1;
}

.upw-pdf-chart__cell--mid-grey {
  background-color: #ddd;
}

.upw-pdf-chart__cell--empty {
  background-color: transparent;
  border: none;
}
