//styles related to specific questions and elements in the unpaid work assessment

/* stylelint-disable selector-class-pattern */
.upw_cultural_religious_adjustment,
.upw_placement_preference,
.upw_placement_preference_by_gender_details {
  font-size: 48px;
}
/* stylelint-enable selector-class-pattern */

.upw-complete-break {
  margin-top: 50px;
}

.upw-read-only__header {
  @include govuk-clearfix;
}

.upw-read-only__heading {
  float: left;
}

.upw-read-only__link {
  font-size: 1.25rem;
  float: right;
  margin-bottom: govuk-spacing(4);
}

.upw-summary-list--top-border {
  border-top: 1px solid #b1b4b6;
}

.upw-summary-list--bottom-margin {
  margin-bottom: govuk-spacing(8);
}
