@import 'govuk-frontend/govuk/all';
@import '@ministryofjustice/frontend/moj/all';
@import 'accessible-autocomplete/dist/accessible-autocomplete.min';
@import 'components/accessible-autocomplete';
@import 'components/cookie-message';
@import 'components/task-list';
@import 'components/predictor-scores';
@import 'pages';

$white-transparent: rgba(255, 255, 255, 0.25);

.govuk-width-container--app-extra-wide {
  max-width: 1220px;
}

.key-details-bar {
  background-color: #1d70b8;
  color: #fff;
  padding: 30px;
}

.key-details-bar__divider {
  color: #fff;
  font-size: 19px;
}

.key-details-bar__name {
  font-size: 24px !important;
  font-family: 'GDS Transport', Arial, sans-serif !important;
  font-weight: 700 !important;
}

.moj-header__link,
.moj-header__navigation-link {
  &:focus {
    background-color: govuk-colour('yellow');
    outline: 0;
  }
}

p {
  @extend .govuk-body;
}

.moj-context-header dt,
.moj-context-header dd {
  color: govuk-colour('white');
  padding-top: 0;
  display: inline-block;
  margin: govuk-spacing(1);
}

.moj-context-header dt {
  @extend .govuk-heading-s;

  padding: 0 0 0 govuk-spacing(2) !important;
}

.moj-context-header dd {
  @extend .govuk-body-s;
}

.moj-context-header__block dt {
  border-left: 1px solid govuk-colour('white');
}

.moj-context-header__block dt:first-of-type {
  margin-left: govuk-spacing(0) !important;
  padding-left: govuk-spacing(0) !important;
  border-left: 0;
}

.moj-context-header__block {
  @extend .govuk-width-container;

  padding-bottom: govuk-spacing(1);
  border-top: 1px solid govuk-colour('white');
}

.moj-context-header__top-block {
  @extend .moj-context-header__block;

  border-top: 0;
}

.no-left-border {
  border-left: 0 !important;
}

.extra-error {
  margin-top: -18px;
  margin-bottom: 25px;
}

.risk {
  color: $govuk-error-colour;
  font-weight: bold;
}

.moj-button-menu__float-right {
  float: right;
}

.print-header-org {
  display: inline-block !important;
  vertical-align: middle !important;
  margin: 0 !important;
}

.section-break-large {
  margin-top: govuk-spacing(9);
  margin-bottom: govuk-spacing(4);
  border: 4px solid $govuk-brand-colour;
}

.section-break-medium {
  margin-top: govuk-spacing(8);
  margin-bottom: govuk-spacing(4);
  border: 2px solid $govuk-brand-colour;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}

.sp-print-button {
  float: right;
  margin-top: govuk-spacing(2);
}

.print-group {
  break-inside: avoid;
}

.govuk-phase-banner {
  border-bottom: 0;
}

.width-zero {
  width: 0;
}

.pac-header-tag {
  margin-top: -3px;
}

.pac-phase-tag {
  float: right;
  margin-top: 5px;
  margin-left: 14px;
}

.govuk-radios__conditional--no-indent {
  margin-bottom: 40px;
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}

.govuk-input--pack-together {
  margin-top: -30px;
}

.moj-task-list__task-completed {
  background-color: govuk-colour('green');
}

.moj-task-list__task--not-started {
  color: govuk-colour('dark-grey');
  background-color: govuk-colour('light-grey');
}

.moj-task-list__task {
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(1);

  @include govuk-media-query($from: 450px) {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.govuk-summary-list--no-bottom-margin {
  margin-bottom: 0;
}

.questiongroup-action-buttons {
  margin-top: govuk-spacing(8);
}

.body-link {
  font-size: 19px;
}

.body-link__container {
  margin-top: govuk-spacing(4);
}

.no-bottom-border {
  border-bottom: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.table-cell__narrow {
  width: 150px;
}
