{% extends "common/templates/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "common/templates/components/question/macro.njk" import renderQuestion %}
{% from "common/templates/components/read-only/macro.njk" import readOnly %}
{% from "common/templates/components/read-only-address/macro.njk" import readOnlyAddress %}

{% set backLink = '../individuals-details' %}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block header %}
{% include "common/templates/partials/header.njk" %}
{% endblock %}

{% block content %}
{# include errorSummary partial #}
{{ super() }}

{% if errorSummary and errorSummary.length == 0 %}
    {% if not questionGroupCode %}
        {% set questions = questions | clearAnswers %}
    {% endif %}
{% endif %}

{% if clearQuestionAnswers %}
    {% set questions = questions | clearAnswers %}
{% endif %}

<div class="govuk-grid-row">
    <section class="govuk-grid-column-two-thirds" aria-label="Form content">
        <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
        
        <form method="post" action="{{ action }}">
            <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}">

            {{ renderQuestion(questions['emergency_contact_first_name'], errors) }}
            {{ renderQuestion(questions['emergency_contact_family_name'], errors) }}
            {{ renderQuestion(questions['emergency_contact_relationship'], errors) }}

            {{ renderQuestion(questions['emergency_contact_mobile_phone_number'], errors, {
                classes: 'govuk-!-width-one-half'
            }) }}
            {{ renderQuestion(questions['emergency_contact_phone_number'], errors, {
                classes: 'govuk-!-width-one-half'
            }) }}
            

            <div class="questiongroup-action-buttons">
                {{ govukButton({
                    text: buttonText | default('Save'),
                    classes: 'govuk-!-margin-bottom-3 govuk-!-margin-right-1'
                }) }}
                {{ govukButton({
                    text: "Cancel",
                    classes: "govuk-button--secondary",
                    href: backLink
                }) }}
            </div>
        </form>
    </section>
</div>
{% endblock %}
