{% extends "common/templates/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "common/templates/components/question/macro.njk" import renderQuestion %}
{% from "common/templates/components/question/template.njk" import getQuestionText %}
{% from "common/templates/components/question/template.njk" import getQuestionAnswer %}
{%- from "node_modules/govuk-frontend/govuk/components/summary-list/macro.njk" import govukSummaryList -%}

{% set backLink = 'task-list' %}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block header %}
{% include "common/templates/partials/header.njk" %}
{% endblock %}

{% block content %}
{# include errorSummary partial #}
{{ super() }}

<span class="govuk-caption-xl">Employment, education and skills information</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
    {{ pageTitle }}
</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-margin-bottom-6">Supervised individuals who are unemployed, at risk of unemployment or whose offending reflects employment related needs are eligible to use up to 20% of their Community Payback hours on education, training and pre-employment activity.</p>
        <form method="post" action="{{ action }}">
            <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}">

            {{ renderQuestion(questions['upw_education_training_need'], errors) }}

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible upw-complete-break">
            {{ renderQuestion(questions['upw_employment_training_complete'], errors) }}

            <div class="questiongroup-action-buttons">
                {{ govukButton({
                    text: buttonText | default('Save'),
                    classes: 'govuk-!-margin-bottom-3 govuk-!-margin-right-1'
                }) }}
            </div>
        </form>

    </div>
</div>
{% endblock %}
