{% if 
    not params.buildingName 
    and not params.houseNumber 
    and not params.streetName 
    and not params.district 
    and not params.townOrCity 
    and not params.county 
    and not params.postcode 
%}
    No data
{% else %}
    {% if params.buildingName and params.buildingName != "" %}
        {{ params.buildingName }}<br/>
    {% endif %}

    {% if (params.houseNumber and params.houseNumber != "") and (params.streetName and params.streetName != "") %}
        {{ params.houseNumber }} {{ params.streetName }}</br>
    {% elif params.houseNumber and params.houseNumber != "" %}
        {{ params.houseNumber }}<br/>
    {% elif params.streetName and params.streetName != "" %}
        {{ params.streetName }}<br/>
    {% endif %}

    {% if params.district and params.district != "" %}
        {{ params.district }}<br/>
    {% endif %}

    {% if params.townOrCity and params.townOrCity != "" %}
        {{ params.townOrCity }}<br/>
    {% endif %}

    {% if params.county and params.county != "" %}
        {{ params.county }}<br/>
    {% endif %}
    
    {% if params.postcode and params.postcode != "" %}
        {{ params.postcode }}
    {% endif %}
{% endif %}
