{% extends "common/templates/layout.njk" %}

{% block pageTitle %}
  error
{% endblock %}

{% block content %}
<div class="govuk-width-container govuk-width-container--app-extra-wide">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Oh dear!
      </h1>
      <h3 class="govuk-heading-m">
        Something went wrong.
      <h3>
      <p class="govuk-body">
      {% if showDetailedErrors %}
        {% if error %}
          <h4 class="govuk-heading-s">Geek Stuff 👇</h4>
          <div class="govuk-inset-text">
            <p class="govuk-body govuk-!-font-weight-bold">
              {{ error.message }}
            </p>
            <code>{{ error.stack }}</code>
          </div>
        {% endif %}
      {% else %}
        {{ error }}
      {% endif %}
      </p>
    </div>
  </div>
</div>
{% endblock %}