{% extends "common/templates/layout.njk" %}
{% set hideBackLink = true %}

{% block header %}
  {% include "common/templates/partials/header.njk" %}
{% endblock %}

{% block pageTitle %}
  error
{% endblock %}

{% block content %}
<div class="govuk-width-container govuk-width-container--app-extra-wide">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ heading | default("There is a problem with the service") }}
      </h1>
      {% if subHeading %}
        <h2 class="govuk-heading-m">
          {{ subHeading }}
        </h2>
        {% if showRequestIdOnErrorPage and correlationId %}
          <div class="govuk-inset-text">
            <span><p class="govuk-body"><strong>Request ID:</strong> {{ correlationId }}</p></span>
            <p class="govuk-body">Please supply this ID when reporting the issue above.</p>
          </div>
        {%endif%}
      {% endif %}
      {% if showDetailedErrors %}
        {% if error %}
          <h2 class="govuk-heading-s">Geek Stuff 👇</h2>
          <div class="govuk-inset-text">
            <p class="govuk-body govuk-!-font-weight-bold">
              {{ error.message }}
            </p>
            <code>{{ error.stack }}</code>
          </div>
        {% endif %}
      {% else %}
        <p class="govuk-body">{{ error.message }}</p>
      {% endif %}
      </p>
    </div>
  </div>
</div>
{% endblock %}