{% extends "common/templates/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block content %}
    <h1 class="govuk-heading-l">
        Risk Assessment UI
    </h1>
    {{ govukButton({
        text: 'Continue',
        href: "/" + assessmentId + "/questiongroup/ROSH/summary"
    }) }}
{% endblock %}
