{% extends "common/templates/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set heading = "Status of plan" %}

{% block pageTitle %}
    {{ heading }}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">
        Offender plans:
    </h1>
    {{ govukButton({
        text: 'Continue',
        href: "/individual-id/" + individualId + "/edit-plan/" + currentPlan.planId
    }) }}
{% endblock %}
