{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from 'moj/components/header/macro.njk' import mojHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "govuk/template.njk" %}

{% set containerClasses = "govuk-width-container--app-extra-wide" %}

{% block bodyStart %}
  {% include "common/templates/includes/scripts.njk" %}
{% endblock %}

{# default title - can override in pages #}
{% block pageTitle %}
  Assess Risks and Needs
{% endblock %}

{% block headIcons %}
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ assetPath | default('') }}/images/favicon.ico"
        type="image/x-icon" />
  <link rel="mask-icon" href="{{ assetPath | default('/assets') }}/images/govuk-mask-icon.svg"
        color="{{ themeColor | default('#0b0c0c') }}"> {# Hardcoded value of $govuk-black #}
  <link rel="apple-touch-icon" sizes="180x180"
        href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167"
        href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152"
        href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon.png">
{% endblock %}

{% block head %}
  {% include "common/templates/includes/head.njk" %}

{% endblock %}

{% block content %}
  {% include "./partials/offenderDetails.njk" %}
  {% if errorSummary and errorSummary.length > 0 %}
    {% include "./partials/errorSummary.njk" %}
  {% endif %}
{% endblock %}

{% block footer %}

  <div class="govuk-!-display-none-print arn-white-background">
    <div class="govuk-width-container {{ containerClasses }}">
      {% include "../templates/components/feedbackBanner/feedbackBanner.njk" %}
    </div>
  </div>

  {{ govukFooter({
    containerClasses: containerClasses,
    meta: {
      items: [
        {
          href: "privacy",
          text: "Privacy"
        },
        {
          href: "cookies",
          text: "Cookies"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script>
    window.initAll()
    window.outOflineConditionalRadios()
  </script>
{% endblock %}
