{% from "common/templates/components/moj-crest/macro.njk" import renderMojCrest %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

<header class="moj-header" role="banner">

  <div class="moj-header__container govuk-width-container--app-extra-wide">

    <div class="moj-header__logo">

      {{ renderMojCrest() }}

      <a class="moj-header__link moj-header__link--organisation-name" href="/">HMPPS</a>
      <a class="moj-header__link moj-header__link--service-name" href="/">Assess risks and needs</a>
      <div class="pac-phase-tag"><strong class="govuk-tag pac-header-tag">Alpha</strong></div>

    </div>
    <div class="moj-header__content">

      <nav class="moj-header__navigation" aria-label="Account navigation">

        <ul class="moj-header__navigation-list">
          {% if username %}
            <li class="moj-header__navigation-item">
              {{ username }}
            </li>
            <li class="moj-header__navigation-item">
              <a class="govuk-header__link" href="/logout">Sign out</a>
            </li>
          {% endif %}
        </ul>

      </nav>

    </div>
  </div>

</header>


{% if not hideBackLink %}
  <div class="moj-primary-navigation__container govuk-width-container--app-extra-wide">
    <div role="navigation" aria-label="back">
      {{ govukBackLink({
        href: backLink,
        text: backText or "Back"
      }) }}
    </div>
  </div>

{% endif %}

{% include "./offenderDetails.njk" %}
