{% from "common/templates/components/moj-crest/macro.njk" import renderMojCrest %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set applicationName = "Assess risks and needs" %}

<header class="hmpps-header" role="banner">
  <div class="hmpps-header__container">
    <div class="hmpps-header__title">
      <span class="hmpps-header__title__organisation-name">
        {{ renderMojCrest('#FFFFFF', 40) }}
        HMPPS
      </span>

      <span class="hmpps-header__title__service-name">{{ applicationName }}</span>

      <strong class="govuk-tag phase-tag">
        Beta
      </strong>
    </div>

    <nav aria-label="Account navigation">
      <ul class="hmpps-header__navigation">
        {% if username %}
          <li class="hmpps-header__navigation__item">
            {{ username }}
          </li>
          <li class="hmpps-header__navigation__item">
            <a class="govuk-header__link" href="/logout">Sign out</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>

{% if not hideBackLink %}
  {% if usingBrowserBack %}
    {% set backLink = previousUrl %}
  {% endif %}
  <div class="primary-navigation__container">
    <a id="back-link" href="{{ backLink }}" class="govuk-back-link">{{ backText | default("Back") }}</a>
  </div>
  {% if usingBrowserBack %}
    <script src='/javascripts/back-link.js' type='text/javascript'></script>
  {% endif %}
{% endif %}
