{% from "common/templates/components/moj-crest/macro.njk" import renderMojCrest %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

<header class="moj-header" role="banner">
  <div class="moj-header__container use-govuk-page-width">
    <div class="moj-header__logo">
      {{ renderMojCrest('#FFFFFF', 40) }}
      <a class="moj-header__link moj-header__link--organisation-name" href="/">HMPPS</a>
      <a class="moj-header__link moj-header__link--service-name" href="/">Assess risks and needs</a>
      <div class="pac-phase-tag">
        <strong class="govuk-tag pac-header-tag">Beta</strong>
      </div>
    </div>
    <div class="moj-header__content">
      <nav class="moj-header__navigation" aria-label="Account navigation">
        <ul class="moj-header__navigation-list">
          {% if username %}
            <li class="moj-header__navigation-item">
              {{ username }}
            </li>
            <li class="moj-header__navigation-item">
              <a class="govuk-header__link" href="/logout">Sign out</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</header>

{% if not hideBackLink %}
  {% if usingBrowserBack %}
    {% set backLink = previousUrl %}
  {% endif %}
  <div class="primary-navigation__container">
    <a id="back-link" href="{{ backLink }}" class="govuk-back-link">{{ backText | default("Back") }}</a>
  </div>
  {% if usingBrowserBack %}
    <script src='/javascripts/back-link.js' type='text/javascript'></script>
  {% endif %}
{% endif %}
