{% if offenderDetails %}
  <section class="key-details-bar" aria-label="Key details">
  <div class="moj-primary-navigation__container govuk-width-container--app-extra-wide">

    <div class="key-details-bar__top-block moj-context-header">
      <dl>
        <dd class="key-details-bar__name">{{ offenderDetails.name }}</dd>
        {% if offenderDetails.crn %}
          <dt class="govuk-body key-details-bar_divider ">CRN:</dt>
          <dd class="govuk-body ">{{ offenderDetails.crn }}</dd>
        {% endif %}
        {% if offenderDetails.pnc %}
          <dt class="govuk-body key-details-bar_divider ">PNC:</dt>
          <dd class="govuk-body ">{{ offenderDetails.pnc }}</dd>
        {% endif %}
        {% if offenderDetails.dob %}
          <dt class="govuk-body key-details-bar_divider ">Date of birth:</dt>
          <dd class="govuk-body ">{{ offenderDetails.dob | date("DD MMMM YYYY") }} ({{ offenderDetails.age }}
            years old)
          </dd>
        {% endif %}
      </dl>
    </div></div>
  </section>
{% endif %}