{% if feedbackUrl %}
<div class="feedback-banner" data-test="feedback-banner">
  <span class='govuk-body-s upw-feedback-banner__text'>This is a new service. <a href="{{ feedbackUrl }}" class="govuk-link govuk-link--inverse" target="_blank" rel="noopener noreferrer">
      Give feedback to help us improve it or report a problem</a> (opens in a new tab)</span>
</div>
{% endif %}