{% extends "common/templates/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "common/templates/components/task-list/macro.njk" import arnTaskList %}
{% from "moj/components/banner/macro.njk" import mojBanner %}

{% set heading = 'Assessment progress' %}
{% set hideBackLink = true %}

{% set errorHeading = "Error - " + heading %}

{% block header %}
    {% include "common/templates/partials/header.njk" %}
{% endblock %}

{% block pageTitle %}
    {% if errors %}
        {{ errorHeading }}
    {% else %}
        {{ heading }}
    {% endif %}
{% endblock %}


{% block content %}

    <h1 class="govuk-heading-l">
        {{ subheading }}
    </h1>

    <div class="govuk-grid-row-full">
        <div class="govuk-grid-column">
            <form method="post" style="display: flex; justify-content: flex-end">
                {{ govukButton({
                    text: 'Complete assessment',
                    classes: 'govuk-!-margin-bottom-3',
                    name: 'complete-assessment'
                }) }}
            </form>
        </div>
    </div>

    <div class="govuk-grid-row-full">
        <div class="govuk-grid-column">
            {{ arnTaskList(summary) }}
        </div>
    </div>


{% endblock %}
