{% extends "common/templates/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "common/templates/components/task-list/macro.njk" import arnTaskList %}

{% set heading = 'Assessment progress' %}

{% set errorHeading = "Error - " + heading %}

{% block pageTitle %}
    {% if errors %}
        {{ errorHeading }}
    {% else %}
        {{ heading }}
    {% endif %}
{% endblock %}

{% block beforeContent %}
    <div role="navigation" aria-label="back">
        {{ govukBackLink({
            href: "/" + assessmentId + "/assessments"
        }) }}
    </div>
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-l">
        {{ heading }}
    </h1>

    <div class="govuk-grid-row-full">
        <div class="govuk-grid-column">
            {{ arnTaskList(overview) }}
        </div>
    </div>
{% endblock %}
