{% extends "common/templates/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set heading = "Risk Assessment UI" %}

{% block pageTitle %}
    {{ heading }}
{% endblock %}

{% block beforeContent %}
    <div role="navigation" aria-label="back">
    {{ govukBackLink({
        href: "/start"
    }) }}
    </div>
{% endblock %}

{% block content %}
    {{ super() }}

    <h1 class="govuk-heading-l">
        Available assessments
    </h1>

    <div class="govuk-grid-row assessments">
        <div class="govuk-grid-column-two-thirds">

            {% for form in forms %}

            <div class="govuk-grid-row assessment-row">
                <div class="govuk-grid-column-one-half">
                    <h2 class="govuk-heading-m">{{ form.title }}</h2>
                </div>
                <div class="govuk-grid-column-one-third">
                    {{ govukButton({
                        text: 'Start',
                        classes: 'govuk-!-margin-bottom-3',
                        href: form.path
                    }) }}
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
{% endblock %}
