{% extends "common/templates/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "common/templates/components/question/macro.njk" import renderQuestion %}
{% from "common/templates/components/widgets/macro.njk" import widgets %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set backLink = 'task-list' %}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block header %}
{% include "common/templates/partials/header.njk" %}
{% endblock %}

{% block content %}
{{ super() }}


<div class="govuk-grid-row">
     <h1 class="govuk-heading-xl">
        {{ pageTitle }}
    </h1>

     {# <div class="mt-4" id="div_language">
      <h2 class="mb-3 text-light">Select Language</h2>
      <select class="form-select bg-secondary text-light" id="select_language" onchange="updateCountry()"></select> #}
      {# <select id="select_dialect"></select>  #}
    {# </div> #}

    {{ govukTextarea({
      name: "more-detail",
      id: "more-detail",
      label: {
        text: "Can you provide any additional information that is relevant for this assessment?",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      hint: {
        text: "This page uses speech recognition technology, please press the start button to speak and the stop button once finished to generate text."
      },
      id: "final"
    }) }}

    <div id="select_dialect">
      {# <select id="select_dialect"></select>  #}
    </div>

    <div class="govuk-body govuk-!-margin-bottom-9">
      <button id="start">Start</button>
      <button id="stop">Stop</button>
    </div>

    {{ govukButton({
      text: "Save and continue"
    }) }}
  
    {# <h2 class="mt-4 text-light">Please add any other relevant information </h2>  #}
      {# <div class="p-3" style="border: 1px solid black; height: 300px; border-radius: 8px;"> 
      <span id="final" class="text-light"></span> 
     <span id="interim" class="text-secondary"></span> 
    </div>  #}


  </div>

<script src="/javascripts/speechRecognition.js" type='text/javascript'></script>
{% endblock %}

