{% extends "common/templates/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "common/templates/components/widgets/macro.njk" import widgets %}
{% from "govuk/components/table/macro.njk" import govukTable %} 

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block header %}
{%- set usingBrowserBack = true -%}
{% include "common/templates/partials/header.njk" %}
{% endblock %}

{% block content %}
{{ super() }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            {{ pageTitle }}
        </h1>

{% endblock %}
