{% extends "common/templates/layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{%- set hideBackLink = true -%}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block header %}
{% include "common/templates/partials/header.njk" %}
{% endblock %}

{% block content %}
{# include errorSummary partial #}
{{ super() }}

<h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
            You can close this window. If you want to return to this assessment you can do so from Delius.
        </p>
    </div>
</div>
{% endblock %}
