{% extends "common/templates/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "common/templates/components/widgets/macro.njk" import widgets %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block header %}
{%- set usingBrowserBack = true -%}
{% include "common/templates/partials/header.njk" %}
{% endblock %}

{% block content %}
{{ super() }}

<div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">
            {{ pageTitle }}
        </h1>
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">
            Task list
        </h2>
        <p>
            The task list will update automatically as you work through the assessment. 
        </p>
        <p>
            You can answer the questions in any order. When you finish a section, mark it as complete
            and it will be saved. 
        </p>
        <p>
            When all the sections are done, you can make a declaration and automatically submit the
            assessment to Delius in the form of a PDF.  
        </p>
        <div class="govuk-body govuk-!-margin-bottom-9">
        <img class="upw-accessibility-statement-img" src="/images/task_list.jpg" alt="Task list page">
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">
            Risks widget 
        </h2>
        <p>
            If a RoSH assessment has been completed you can see when it was last updated.
        </p>
        <p> 
           If a risk assessment has been locked incomplete, it will <b>not</b> be seen in this assessment service. 
        </p>
        <p>
            You can also see the MAPPA category and level, if relevant, and Delius risk flags (registers).
        </p>
        <p>
            The Delius risk flags (registers) that will be shown are those relevant for unpaid work assessments:
             <ul class="govuk-body"> 
                <li> 
                    Hate crime
                </li>
                <li> 
                    Non-registered Sex Offender 
                </li>
                <li> 
                    Not MAPPA Eligible
                </li>
                <li> 
                    Public Interest Case
                </li>
                <li> 
                    Registered Sex Offender
                </li>
                <li> 
                    Sexual Harm Prevention Order / Sexual Risk Order
                </li>
                <li> 
                    Street Gangs
                </li>
                <li> 
                    Suicide / Self Harm 
                </li>
                <li> 
                    Vulnerable (RVLN, Description = Vulnerable) 
                </li>
                <li class="govuk-body govuk-!-margin-bottom-9"> 
                    Weapons 
                </li>    
            </ul>
        </p>
    </div>
    <div class="govuk-grid-column-one-third">
        <img class="upw-accessibility-statement-img2" src="/images/risk_widget.jpg" alt="Risk widget">
    </div> 
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">
            Individual's details
        </h2>
        <h3 class="govuk-heading-m"> 
            Emergency contact details
        </h3>
        <p class="govuk-body govuk-!-margin-bottom-9">
            The emergency contact should be an individual who will be notified in the event the person on probation is involved in an emergency while on Community Payback.
        </p>
        <h2 class="govuk-heading-l">
            Diversity information
        </h2>
        <h3 class="govuk-heading-m">
            Cultural or religious adjustments?
        </h3>
        <p>
           Individuals must not be expected to undertake activities which are contrary to their culture or religious beliefs. It is important that assumptions are not made about these issues and that time is taken at the assessment stage to establish with the individual how this could affect work placement allocation.
           For example, does a reasonable adjustment need to be made so they can have time and a suitable space to pray during the working day?
        </p>
        <h3 class="govuk-heading-m">
            Gender information
        </h3>
        <h4 class="govuk-heading-s">
            Recording gender information
        </h4>
        <p> 
           More information about recording gender identity can be found in the Equality, Diversity and Inclusion form. 
        </p>
        <h4 class="govuk-heading-s">
            Discuss placement options with the individual, based on their gender identity
        </h4>
        <p> 
            Where a supervised individual is undergoing or has undergone gender reassignment, consideration should be given to the location and type of work placements and access to gendered spaces whilst on placement (for example, toilets and changing areas). This must include an assessment of risk, both to and from the individual.
        </p>
        <p class="govuk-body govuk-!-margin-bottom-9">
            Individuals must be supported and enabled to express their gender identity when undertaking Community Payback in accordance with any health and safety, risk, and operational assessments. The views of the supervised individual should be actively sought and considered as part of the assessment and throughout the completion of their hours.
        </p>
        <h2 class="govuk-heading-l">
            Risk information
        </h2>
        <h3 class="govuk-heading-m">
            Risk of harm in the Community
        </h3>
        <p> 
            Give priority to the management of risk of serious harm and likelihood of reoffending. The presence or proximity of children or vulnerable adults and potential opportunities for further offending should be considered in the light of assessment information and the current Risk of Serious Harm (RoSH) assessment.
        </p>
        <p>
            Where the offence has resulted in serious harm to a victim the nature of the offence must be considered to ensure that the placement is appropriate and does not risk contact between the individual and the victim or victims.
        </p>
        <h4 class="govuk-heading-s">
            History of sexual offending?
        </h4>
        <p> 
           When allocating a person who has a current or previous conviction for a sexual offence to a project, consideration must be given to avoiding any contact with children or vulnerable people. Where necessary, staff should be aware of the nature of the convictions and arrangements for the individual’s safety in the event of any disclosure about these offences. 
        </p>
        <h4 class="govuk-heading-s">
            Individual poses a risk to children?
        </h4>
        <p> 
           Does this individual have a conviction, or is there any evidence to indicate that they pose a risk of harm to children? Community Payback work should not include direct personal care or supervision of a child or vulnerable adult. If Community Payback work takes place on premises to which (a) the public do not have access and (b) children or vulnerable adults are present, then before a placement can be considered there must be a clear record on the case management system that the individual is not barred from working with children or vulnerable adults.
        </p>
        <h4 class="govuk-heading-s">
            Violent offences?
        </h4>
        <p> 
           In order to manage the dynamics of the group, supervisors will need to know if an individual has a history of violence or using weapons. Please check their previous convictions and any other known information.
        </p>
        <h4 class="govuk-heading-s">
            History of acquisitive offending?
        </h4>
        <p> 
           Placement coordinators need to limit opportunities for further offending when placing an individual on a project. Please detail any recent history of theft or fraudulent offending.
        </p>
        <h4 class="govuk-heading-s">
            Has the individual been involved in serious group offending (SGO)?
        </h4>
        <p> 
            Is there any intelligence or evidence of this individual:
             <ul class="govuk-body"> 
                <li> 
                    identifying or associating with a known gang or group and their location
                </li>
                <li> 
                    being in contact with people related to the gang or group that they identify with
                </li>
                <li> 
                    being in contact with people who associate with rival gangs or groups
                </li>
                <li> 
                    being present in areas considered to be frequented by other street gangs or groups
                </li>
            </ul>
        </p>
        <h4 class="govuk-heading-s">
            Control issues or disruptive behaviour?
        </h4>
        <p> 
           Please record any evidence of the individual having a history of problems with authority or offending when in groups etc.
        </p>
        <h4 class="govuk-heading-s">
            History of hate-based attitudes or behaviours?
        </h4>
        <p> 
           Please record any evidence of homophobic or racially motivated behaviour.
        </p>
        <h4 class="govuk-heading-s">
            Is the individual vulnerable because they are a high-profile person?
        </h4>
        <p> 
           For example, they are prominent on social media or are well-known in a particular area.
        </p>
        <h3 class="govuk-heading-m">
            Managing risk 
        </h3>
        <h4 class="govuk-heading-s">
            Location restricted by victim exclusion criteria?
        </h4>
        <p> 
            Please detail any limitations on where the individual can undertake Community Payback work.
        </p>
        <h4 class="govuk-heading-s">
            Close supervision or restricted placement recommended?
        </h4>
        <p> 
            Say whether there are any reasons for the individual to be made subject to more stringent supervision on Community Payback.
        </p>
        <h4 class="govuk-heading-s">
            Restrictive orders? (non-molestation, injunction etc.)
        </h4>
        <p> 
            Is the individual subject to a curfew or prohibited from undertaking any activity etc?
        </p>
        <h4 class="govuk-heading-s">
            Are there any risk management issues for an individual placement?
        </h4>
        <p> 
            Individual placements are often in charity shops. Give any reasons why this person should not work on an unsupervised project with members of the public.
        </p>
        <h4 class="govuk-heading-s">
            Are there any risk management issues if working in a supervised group?
        </h4>
        <p> 
            To help manage the dynamics of the group it's helpful to avoid placing co-defendants, family members or anti-social peers on the same project. Please identify any person the individual should not be placed with.
        </p>
        <h4 class="govuk-heading-s">
            Alcohol or drug issues with health and safety impact?
        </h4>
        <p class="govuk-body govuk-!-margin-bottom-9"> 
            Consider the risks if individuals who have a drug or alcohol dependency are required to use tools or machinery. It is important to make the Supervisor aware of any issues.
        </p>
        <h2 class="govuk-heading-l">
            Disabilities and mental health
        </h2>
        <p> 
            Individuals with a disability and those with other personal needs should be consulted to agree what reasonable adjustments may be required to enable them to undertake Community Payback.
        </p>
        <h3 class="govuk-heading-m">
            Pregnant or recently given birth?
        </h3>
        <p class="govuk-body govuk-!-margin-bottom-9"> 
            The needs of women who are pregnant or new mothers need to be carefully considered and subject to a focussed risk and needs assessment. Please discuss with the individual to identify any issues that the UPW team need to be aware of.
        </p>
        <h2 class="govuk-heading-l">
            Placement restrictions due to health and other needs
        </h2>
        <h3 class="govuk-heading-m">
            Travel information
        </h3>
        <p> 
            Travel time must not exceed a total maximum time of 90 minutes from the individual’s home to the worksite, including the time spent travelling in an NPS vehicle. The maximum time travelling under supervision that can be credited against Unpaid Work hours is 60 minutes each way. Where more than 30 minutes is spent travelling to a pick-up point there should be a corresponding reduction in the time considered to be spent in a Community Payback vehicle, up to the 90-minute maximum. Conversely a maximum 90 minutes total travel time can be used where the supervised individual reports directly to a work site.
        </p>
        <p>
            Where a placement could involve multiple work sites (e.g. litter picking) only the travel time to the initial project site is relevant to this measure.
        </p>
        <h4 class="govuk-heading-s">
            Does the individual have any travel issues that will affect their placement?
        </h4>
        <p> 
            Difficulties with travel can include: lack of public transport, difficult scheduling of services, living in a rural location etc.
        </p>
        <h3 class="govuk-heading-m">
            Are there carer commitments?
        </h3>
        <p class="govuk-body govuk-!-margin-bottom-9"> 
            It may be necessary to arrange Community Payback to take account of the individual's dependent care commitments.
        </p>
        <h2 class="govuk-heading-l">
            Employment, education and skills information
        </h2>
        <h3 class="govuk-heading-m">
            Is the individual in employment or education?
        </h3>
        <p> 
            Establish whether the individual is currently in work or undertaking training or education.
        </p>
        <h4 class="govuk-heading-s">
            Employment or education details
        </h4>
        <p> 
            For example: working days or hours
        </p>
        <h3 class="govuk-heading-m">
            Does the individual have any work skills or experience that could be used while carrying out Community Payback?
        </h3>
        <p> 
            For example, are they a skilled tradesperson and can we utilise their skills?
        </p>
        <h3 class="govuk-heading-m">
            Does the individual have future work plans that could be supported through a Community Payback placement?
        </h3>
        <p> 
            Explore this with the individual to understand their plans and aspirations, even if they only express them in general terms.
        </p>
        <h3 class="govuk-heading-m">
            Does the individual have an education, training or employment-related need?
        </h3>
        <p class="govuk-body govuk-!-margin-bottom-9"> 
            Supervised individuals who are unemployed, at risk of unemployment or whose offending reflects employment-related needs are eligible to use up to 20% of their UPW hours on education, training and pre-employment activity.
        </p>
        <h2 class="govuk-heading-l" class="govuk-!-margin-bottom-9">
            Placement details 
        </h2>
        <h3 class="govuk-heading-m">
            Is the individual eligible for intensive working?
        </h3>
        <p> 
            They will be eligible if they are not in education, training or employment. 
        </p>
        <h4 class="govuk-heading-s">
            Recommended hours per week in addition to statutory minimum, at the start of the order
        </h4>
        <p> 
            7 hours is the standard working day. Maximum of 21 additional hours per week.
        </p>
        <h4 class="govuk-heading-s">
            Recommended hours per week in addition to statutory minimum, at the midpoint of the order
        </h4>
        <p> 
            7 hours is the standard working day. Maximum of 21 additional hours per week.
        </p>
        <h4 class="govuk-heading-s">
            At what point should the individual be expected to reach a 28-hour working week?
        </h4>
        <p> 
            Typically this should be within 4 weeks of starting Community Payback work. People who have never worked or who have been unemployed for a long time can build up their hours over this period.
        </p>
    </div>
</div>
{% endblock %}
