{% extends "common/templates/layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{%- set hideBackLink = true -%}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block header %}
{% include "common/templates/partials/header.njk" %}
{% endblock %}

{% block content %}
{# include errorSummary partial #}
{{ super() }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
            titleText: "You have completed the Community Payback assessment",
            classes: "upw-confirmation-panel"
        }) }}

        <div class="govuk-button-group">
            <a class="govuk-button" href="/UPW/pdf-download" download>Download the PDF</a>
            <a class="govuk-button govuk-button--secondary" href="javascript:window.close();">Save and close</a>
        </div>
    </div>
</div>
{% endblock %}
