{% extends "common/templates/layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{%- set hideBackLink = true -%}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block header %}
{% include "common/templates/partials/header.njk" %}
{% endblock %}

{% block content %}
{{ super() }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
            titleText: "You have completed the Community Payback assessment",
            classes: "upw-confirmation-panel"
        }) }}

        <p class="govuk-body">
            The assessment PDF has been saved to Delius.
        </p>

        <h3 class="govuk-heading-m">Next steps</h3>
        <p class="govuk-body">
            Please follow the process that has been established in your region to let the unpaid work team know this assessment has been completed. This will enable the unpaid work induction to be arranged and for the person on probation to start their placement.
        </p>

        <div class="govuk-button-group">
            <a class="govuk-button" href="/UPW/pdf-download" download>Download the PDF</a>
        </div>

        <div class="govuk-body">
        <a href="{{ feedbackUrl }}" class="govuk-link" target="_blank" rel="noopener noreferrer">
        What did you think of the service?</a>
        (takes 1 minute)
        </div>
       
       <br>
        <p class="govuk-body">
            You can now close this window.
        </p> 
    </div>
</div>
{% endblock %}

{% set hideOffenderDetails = true %}
