{% extends "common/templates/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "common/templates/components/question/macro.njk" import renderQuestion %}

{% set hideBackLink = true %}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block header %}
    {% include "common/templates/partials/header.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl landing-page__heading">{{ options.journeyPageTitle }}</h1>

        <p class="govuk-body govuk-!-font-size-24">
            The assessment cannot be sent to Delius at the moment because of connection problems. You can <a href="/UPW/pdf-download" class="govuk-link">download the PDF</a> and then manually send it to Delius when the connection is restored. Upload the PDF to the Delius CP/UPW Assessment contact, using its filename to identify it. 
        </p>

        <p class="govuk-body">
            Remember to manually enter the (EASU) "CP/UPW Assessment" contact entry to confirm that the UPW has been completed within 15 Business days of sentence.
        </p>

        <p class="govuk-body">
            After you download the PDF you can close this window.
        </p>

        <div class="govuk-button-group">
            <a class="govuk-button" href="/UPW/pdf-download" download>Download the PDF</a>            
        </div>
    </div>
</div>
{% endblock %}
