{% extends "common/templates/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "common/templates/components/question/macro.njk" import renderQuestion %}

{% set hideBackLink = true %}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block header %}
    {% include "common/templates/partials/header.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl landing-page__heading">{{ options.journeyPageTitle }}</h1>

        {# {% if pageTitle %}
        <h2 class="govuk-heading-l">
            {{ pageTitle }}
        </h2>
        {% endif %} #}

        <p class="govuk-hint hint__large">{{ pageDescription }}</p>

        <div class="landing-page__offence-details">
            <table class="govuk-table no-bottom-margin">
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header no-bottom-border table-cell__narrow">Offence</th>
                    <td class="govuk-table__cell no-bottom-border">{{ assessment.offence.offence }} - {{ assessment.offence.offenceDescription }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header no-bottom-border table-cell__narrow">Subcode</th>
                    <td class="govuk-table__cell no-bottom-border">{{ assessment.offence.subCode }} - {{ assessment.offence.subCodeDescription }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header no-bottom-border table-cell__narrow">Sentence Date</th>
                    <td class="govuk-table__cell no-bottom-border">{{ assessment.offence.sentenceDate }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="questiongroup-action-buttons__start">
            <form method="post" action="{{ action }}">
                <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}">

                {{ govukButton({
                    text: 'Start now',
                    classes: 'govuk-!-margin-bottom-3 govuk-!-margin-right-1',
                    isStartButton: true
                }) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
