{% extends "common/templates/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "common/templates/components/question/macro.njk" import renderQuestion %}
{% from "common/templates/components/form-wizard-task-list/macro.njk" import renderTaskList %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block header %}
{% include "common/templates/partials/header.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
            {{ pageTitle }}
        </h1>

        {% if pageDescription %}
        <p class="govuk-caption-l  govuk-!-margin-bottom-7">{{ pageDescription }}</p>
        {% endif %}
        
        <div>
            {{ renderTaskList(taskList) }}
        </div>

        <div class="govuk-button-group">
            <form method="post" action="{{ action }}">
                <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}">
                {% if taskList.allowedToSubmit %}
                {{ govukButton({
                    text: "Submit"
                }) }}
                {% endif %}
                <a class="govuk-button govuk-button--secondary" href="javascript:window.close();">Save and close</a>
            </form>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
    </div>
</div>
{% endblock %}
