{% extends "common/templates/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "common/templates/components/question/macro.njk" import renderQuestion %}
{% from "common/templates/components/form-wizard-task-list/macro.njk" import renderTaskList %}
{% from "common/templates/components/widgets/macro.njk" import widgets %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block header %}
{% include "common/templates/partials/header.njk" %}
{% endblock %}

{% block content %}
{{ super() }}
<div class="govuk-grid-row">
    <section class="govuk-grid-column-three-quarters" aria-label="Task list">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
            {{ pageTitle }}
        </h1>

        {% if pageDescription %}
        <p class="govuk-caption-l  govuk-!-margin-bottom-2">{{ pageDescription }}</p>
        {% endif %}

        <p class="govuk-!-margin-bottom-7"><a class="govuk-link" href="/UPW/assessment-help",>Help with the assessment</a></p>

        <div>
            {{ renderTaskList(taskList) }}
        </div>

        <div class="govuk-button-group">
            <form method="post" action="{{ action }}">
                <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}">
                {{ govukButton({
                    text: "Submit",
                    disabled: not taskList.allowedToSubmit
                }) }}
                <a class="govuk-button govuk-button--secondary" href="{{ saveAssessmentUrl }}">Save and close</a>
            </form>
        </div>
    </section>
    
    {{ widgets(widgetData) }}
    
</div>
{% endblock %}
